{% extends 'auth/auth_base.html' %}
{% load static %}

{% block title %} Lupa Password {% endblock title %}


{% block auth_img %}
  {% static 'assets/home/images/auth/lupa-password.png' %}
{% endblock %}

{% block auth_content %}
  <div id="auth_content">

    <p class="card-text text-center p-2">Masukan Nama Pengguna atau Email anda, akan dikirimkan link untuk mereset kata sandi ke email anda</p>

    <v-form id="__form_lupa_password" for="" onsubmit="window.location.replace('{% url 'reset_password' %}')">
        {% csrf_token %}

        <v-input-group label="Nama Pengguna atau Email Anda" placeholder="Nama Pengguna atau Email Anda"  type="text" icon="fas fa-envelope" name="username" required></v-input-group>

        <div class="text-end">
            <span>Sudah memiliki akun? Masuk <a href="{% url 'login' %}">disini</a></span>
        </div>

        <v-button type="submit" icon="fa-solid fa-arrow-right-to-bracket">Kirim</v-button>
    </v-form>
  </div>
{% endblock %}
