{% extends 'auth/auth_base.html' %}
{% load static %}

{% block title %} Reset Password {% endblock title %}

{% block auth_img %}
  {% static 'assets/home/images/auth/reset-password.png' %}
{% endblock %}

{% block auth_content %}
  <div id="auth_content">
    
    <p class="card-text text-center p-2">
        Pastikan Kata Sandi yang Anda gunakan sudah aman.
        Kata Sandi harus memuat setidaknya 8 karakter dengan kombinasi
        huruf, huruf kapital, angka serta tanda baca.
     </p>

     <v-form id="__form_reset_password">
        {% csrf_token %}

        <v-input-group label="Kata Sandi Awal" placeholder="Kata Sandi Awal Anda" type="password" icon="fas fa-lock" name="current_password" required ></v-input-group>
        
        <v-input-group label="Kata Sandi Baru" placeholder="Kata Sandi Baru Anda" type="password" icon="fas fa-lock" name="new_password" required ></v-input-group>
        
        <v-input-group label="Ketik Ulang Kata Sandi" placeholder="Ketik Ulang Kata Sandi" type="password" icon="fas fa-lock" name="repeat_new_password" required ></v-input-group>

        <div class="text-end">
            <span>Sudah memiliki akun? Masuk <a href="{% url 'login' %}">disini</a></span>
        </div>

        <v-button type="submit" icon="fas fa-save">Setel Ulang</v-button>
    </v-form>
  </div>
{% endblock %}
