<div class="modal fade" id="detailKuisionerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Detail Peserta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-soft-gray">
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2">Daftar Nama Peserta</th>
                                <th colspan="2" rowspan="1">Sinergi</th>
                                <th colspan="2" rowspan="1">Hasil SKM</th>
                            </tr>
                            <tr>
                                <th scope="col" rowspan="1">Desa bersinar</th>
                                <th scope="col" rowspan="1">IBM</th>
                                <th scope="col" rowspan="1">Nilai <br /> <span class="text-muted">(1.00 - 4.00)</span>
                                </th>
                                <th scope="col" rowspan="1">Kategori</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ilham Prabu</td>
                                <td>
                                    <span class="text-primary">Ya</span>
                                </td>
                                <td>
                                    <span class="text-danger">Tidak</span>
                                </td>
                                <td>
                                    <span class="text-primary">2.50</span>
                                </td>
                                <td>
                                    <span class="text-success">Cukup</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alexander Graham Bell</td>
                                <td>
                                    <span class="text-primary">Ya</span>
                                </td>
                                <td>
                                    <span class="text-danger">Tidak</span>
                                </td>
                                <td>
                                    <span class="text-danger">1.50</span>
                                </td>
                                <td>
                                    <span class="text-success">Buruk</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="__keterangan" class="mt-5">
                    <h5>Klasifikasi Kategori</h5>
                    <hr>
                    <div>
                        <p class="text-muted">
                            <span class="d-block">
                                Nilai 1,00 – 1,74 = buruk
                            </span>
                            <span class="d-block">
                                Nilai 1,75 – 2,50 = cukup
                            </span>
                            <span class="d-block">
                                Nilai 2,51 – 3.25 = Baik
                            </span>
                            <span class="d-block">
                                Nilai 3,26 – 4,00 = sangat baik
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-xmark me-2"></i>
                    Tutup
                </button>
            </div>
        </div>
    </div>
</div>