<table class="table table-bordered" id="__table">
  <thead>
    <tr class="bg-soft-green">
      <th rowspan="2">No.</th>
      <th rowspan="2">Satuan Kerja</th>
      <th rowspan="2">Jumlah Kegiatan</th>
      <th colspan="3" class="bg-soft-danger">Pelaksanaan</th>
      <th rowspan="2">Deskripsi Hasil</th>
      <th rowspan="2">Kendala/Hambatan</th>
      <th rowspan="2">Kesimpulan</th>
      <th rowspan="2">Tidak Lanjut</th>
      <th rowspan="2">Dokumentasi</th>
      <th rowspan="2">Aksi</th>
    </tr>
    <tr class="bg-soft-danger">
      <th>No.</th>
      <th>Peserta</th>
      <th>Lingkungan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">1</td>
      <td rowspan="2">{{ user.profile.satker }}</td>
      <td rowspan="2">2</td>
      <td>1</td>
      <td>Soffel Inda Pratama</td>
      <td>France</td>
      <td>Sangat memuaskan</td>
      <td>Tidak ada</td>
      <td>Singkat, padat dan jelas</td>
      <td>Tingkatkan kembali</td>
      <td>
        <a href="javascript:void(0);">Lihat Dokumentasi</a>
      </td>
      <td rowspan="4">
        <div class="list-button">
          <a href="javascript:;" class="badge bg-success text-white text-decoration-none mb-1"><i class="fas fa-pen-to-square me-2"></i>EDIT</a>
          <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1"><i class="fas fa-trash-alt me-2"></i>HAPUS</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Soffel Inda Pratama</td>
      <td>France</td>
      <td>Sangat memuaskan</td>
      <td>Tidak ada</td>
      <td>Singkat, padat dan jelas</td>
      <td>Tingkatkan kembali</td>
      <td>
        <a href="javascript:void(0);">Lihat Dokumentasi</a>
      </td>
    </tr>
  </tbody>
</table>
