<form id="editForm" class="dont-reset" @submit.prevent="handleUpdate(edit.id)">
    <div class="modal fade" id="editModal">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Data <b>Kegiatan</b> untuk Satuan Kerja Pelaksana <b id="edit__info"></b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <!-- Satuan Kerja Pelaksana -->
                    <div class="mb-3">
                        <label for="edit__satker" class="col-form-label required">Satuan Kerja Pelaksana:</label>
                        <select class="form-control select2" id="edit__satker" v-model="edit.satker" disabled>
                            {% if user.profile.satker.level == 2 %}
                                {% for item in satker %}
                                <option value="{{ item.pk }}">{{ item.nama_satker }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="{{ user.profile.satker.pk }}" selected>{{ user.profile.satker.nama_satker }}</option>
                            {% endif %}
                        </select>
                    </div>
                    <!--/ Satuan Kerja Pelaksana -->

                    <hr class="mx-n4">

                    <!-- Tanggal Kegiatan -->
                    <div class="row range_date edit">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="edit__tanggal_awal" class="col-form-label required">Tanggal Awal:</label>
                                <input type="date" id="edit__tanggal_awal" class="form-control" v-model="edit.tanggal_awal" required />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="edit__tanggal_akhir" class="col-form-label optional">Tanggal
                                    Akhir:</label>
                                <input type="date" id="edit__tanggal_akhir" class="form-control" v-model="edit.tanggal_akhir"  />
                            </div>
                        </div>
                    </div>
                    <!--/ Tanggal Kegiatan -->

                    <div class="text-important mt-2 mb-4">Jika pelaksanaan hanya berlangsung selama satu hari, tanggal akhir tidak perlu diisi.</div>

                    <!-- Lokasi -->
                    <div class="mb-3">

                        <label for="edit__selected_lokasi" class="col-form-label required">Lokasi:</label>

						<v-lokasi :lokasi="store.lokasi"></v-lokasi>

						<div class="my-2">
                            <span class="text-information">Kosongkan <b>bagian</b> ini jika tidak ingin mengganti lokasi.</span>
                        </div>

                        <div class="row" id="edit__lokasi">
                            <div class="col-6 mb-3">
                                <select class="form-select select2" id="edit__provinsi" v-model="edit.provinsi">
                                    <option value="" selected >--Pilih provinsi--</option>
                                </select>
                            </div>

                            <div class="col-6 mb-3">
                                <select class="form-select select2" id="edit__kabupaten" v-model="edit.kabupaten" disabled>
                                    <option value="" selected >--Pilih kota/kabupaten--</option>
                                </select>
                            </div>

                            <div class="col-6 mb-3">
                                <select class="form-select select2" id="edit__kecamatan" v-model="edit.kecamatan" disabled>
                                    <option value="" selected >--Pilih kecamatan--</option>
                                </select>
                            </div>

                            <div class="col-6 mb-3">
                                <select class="form-select select2" id="edit__desa" v-model="edit.desa" disabled>
                                    <option value="" selected >--Pilih desa/kelurahan--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/ Lokasi -->

                    <hr class="mx-n4">

                    <!-- Deskripsi -->
                    <div class="mb-3">
                        <label for="edit__deskripsi" class="col-form-label required">Deskripsi Hasil :</label>

                        <hr class="mx-n4">

                        <!-- Potensi SDA -->
                        <div id="edit__potensi__sda_wrapper" class="ps-3">
                            <label for="edit__potensi__sda" class="col-form-label required">1. Potensi SDA:</label>

                            <textarea class="form-control my-3" id="edit__potensi__sda" v-model="edit.potensi.sda.text" required></textarea>

                            <hr class="mx-n4">

                            <div id="edit__potensi__sda_analisis_swot_wrapper" class="ps-3">
                                <div class="mb-3 row align-items-center">
                                    <label for="edit__potensi__sda_analisis_swot" class="col-md-3 col-form-label required">Analisis SWOT</label>
                                    <div class="col-md-9">
                                        <input type="text" id="edit__potensi__sda_analisis_swot" class="form-control form-control-sm"
                                        v-model="edit.potensi.sda.swot.text" required />
                                    </div>
                                </div>

                                <div class="ps-0">
                                    <div class="swot__kekuatan">
                                        <label for="edit__potensi__sda_analisis_swot_kekuatan" class="col-form-label required">1. Kekuatan :</label>

                                        <textarea class="form-control my-3" id="edit__potensi__sda_analisis_swot_kekuatan"
                                        v-model="edit.potensi.sda.swot.kekuatan" required></textarea>
                                    </div>

                                    <div class="swot__kelemahan mt-2">
                                        <label for="edit__potensi__sda_analisis_swot_kelemahan" class="col-form-label required">2. Kelemahan :</label>

                                        <textarea class="form-control my-3" id="edit__potensi__sda_analisis_swot_kelemahan"
                                        v-model="edit.potensi.sda.swot.kelemahan" required></textarea>
                                    </div>

                                    <div class="swot__peluang mt-2">
                                        <label for="edit__potensi__sda_analisis_swot_peluang" class="col-form-label required">3. Peluang :</label>

                                        <textarea class="form-control my-3" id="edit__potensi__sda_analisis_swot_peluang"
                                        v-model="edit.potensi.sda.swot.peluang" required></textarea>
                                    </div>

                                    <div class="swot__tantangan mt-2">
                                        <label for="edit__potensi__sda_analisis_swot_tantangan" class="col-form-label required">4. Tantangan :</label>

                                        <textarea class="form-control my-3" id="edit__potensi__sda_analisis_swot_tantangan"
                                        v-model="edit.potensi.sda.swot.tantangan" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <hr class="mx-n4">

                            <div id="edit__potensi__sda_kesimpulan_wrapper" class="ps-3">
                                <label for="edit__potensi__sda_kesimpulan" class="col-form-label required">Kesimpulan :</label>

                                <textarea class="form-control my-3" id="edit__potensi__sda_kesimpulan"
                                v-model="edit.potensi.sda.kesimpulan" required></textarea>
                            </div>
                        </div>
                        <!--/ Potensi SDA -->

                        <hr class="mx-n4">

                        <!-- Potensi SDM -->
                        <div id="edit__potensi__sdm_wrapper" class="ps-3">
                            <label for="edit__potensi__sdm" class="col-form-label required">2. Potensi SDM:</label>

                            <textarea class="form-control my-3" id="edit__potensi__sdm" v-model="edit.potensi.sdm.text" required></textarea>

                            <hr class="mx-n4">

                            <div id="edit__potensi__sdm_analisis_swot_wrapper" class="ps-3">
                                <div class="mb-3 row align-items-center">
                                    <label for="edit__potensi__sdm_analisis_swot" class="col-md-3 col-form-label required">Analisis SWOT</label>
                                    <div class="col-md-9">
                                        <input type="text" id="edit__potensi__sdm_analisis_swot" class="form-control form-control-sm"
                                        v-model="edit.potensi.sdm.swot.text" required />
                                    </div>
                                </div>

                                <div class="ps-0">
                                    <div class="swot__kekuatan">
                                        <label for="edit__potensi__sdm_analisis_swot_kekuatan" class="col-form-label required">1. Kekuatan :</label>

                                        <textarea class="form-control my-3" id="edit__potensi__sdm_analisis_swot_kekuatan"
                                        v-model="edit.potensi.sdm.swot.kekuatan" required></textarea>
                                    </div>

                                    <div class="swot__kelemahan mt-2">
                                        <label for="edit__potensi__sdm_analisis_swot_kelemahan" class="col-form-label required">2. Kelemahan :</label>

                                        <textarea class="form-control my-3" id="edit__potensi__sdm_analisis_swot_kelemahan"
                                        v-model="edit.potensi.sdm.swot.kelemahan" required></textarea>
                                    </div>

                                    <div class="swot__peluang mt-2">
                                        <label for="edit__potensi__sdm_analisis_swot_peluang" class="col-form-label required">3. Peluang :</label>

                                        <textarea class="form-control my-3" id="edit__potensi__sdm_analisis_swot_peluang"
                                        v-model="edit.potensi.sdm.swot.peluang" required></textarea>
                                    </div>

                                    <div class="swot__tantangan mt-2">
                                        <label for="edit__potensi__sdm_analisis_swot_tantangan" class="col-form-label required">4. Tantangan :</label>

                                        <textarea class="form-control my-3" id="edit__potensi__sdm_analisis_swot_tantangan"
                                        v-model="edit.potensi.sdm.swot.tantangan" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <hr class="mx-n4">

                            <div id="edit__potensi__sdm_kesimpulan_wrapper" class="ps-3">
                                <label for="edit__potensi__sdm_kesimpulan" class="col-form-label required">Kesimpulan :</label>

                                <textarea class="form-control my-3" id="edit__potensi__sdm_kesimpulan"
                                v-model="edit.potensi.sdm.kesimpulan" required></textarea>
                            </div>
                        </div>
                        <!--/ Potensi SDM -->
                    </div>
                    <!--/ Deskripsi -->

                    <hr class="mx-n4">

                    <!-- Hambatan/Kendala -->
                    <div class="mb-3">
                        <label for="edit__kendala" class="col-form-label required">Hambatan/Kendala:</label>

                        <div class="form-check mt-3">
                            <input class="form-check-input" type="radio" name="edit__kendala_ketersediaan" id="edit__kendala_yes"
                            :checked="store.kendala.showKeterangan"
                            @click="store.kendala.showKeterangan = true; edit.kendala = ''" />
                            <label class="form-check-label" for="edit__kendala_yes">Ada, sebutkan ...</label>
                        </div>

                        <div class="ps-4">
                            <textarea class="form-control my-3" id="edit__kendala_yes_keterangan" v-if="store.kendala.showKeterangan"
                            @change="edit.kendala = $event.target.value.includes('Ada') ? $event.target.value : `Ada, ${$event.target.value}`"
                            :required="store.kendala.showKeterangan"
                            :value="edit.kendala"
                            ></textarea>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="edit__kendala_no" name="edit__kendala_ketersediaan"
                                @click="store.kendala.showKeterangan = false; edit.kendala = 'Tidak ada'" :checked="edit.kendala == 'Tidak ada'" />
                            <label class="form-check-label" for="edit__kendala_no">Tidak ada</label>
                        </div>
                    </div>
                    <!--/ Hambatan/Kendala -->

                    <hr class="mx-n4">

                    <!-- Kesimpulan -->
                    <div class="mb-3">
                        <label for="edit__kesimpulan" class="col-form-label required">Kesimpulan:</label>

                        <textarea class="form-control my-3" id="edit__kesimpulan" v-model="edit.kesimpulan" required></textarea>
                    </div>
                    <!--/ Kesimpulan -->

                    <hr class="mx-n4">

                    <!-- Tindak Lanjut -->
                    <div class="mb-3">
                        <label for="edit__tindak_lanjut" class="col-form-label required">Tindak Lanjut:</label>
                        <textarea class="form-control" id="edit__tindak_lanjut" v-model="edit.tindak_lanjut" required></textarea>
                    </div>
                    <!--/ Tindak Lanjut -->

                    <hr class="mx-n4">

                    <!-- Dokumentasi Gambar -->
                    <div class="mb-3">
                        <label for="edit__dokumentasi_gambar" class="col-form-label optional">Dokumentasi Gambar:</label>
                        <v-input-image id="edit__dokumentasi_gambar" :maxsize="5" v-model="edit.gambar" :init="store.image.url"></v-input-image>
                    </div>
                    <!--/ Dokumentasi Gambar -->

                    <!-- Dokumentasi -->
                    <div class="mb-3">
                        <label for="edit__dokumentasi" class="col-form-label">Dokumentasi:</label>
                        <input type="file" class="form-control" id="edit__dokumentasi" @change="edit.dokumentasi = $event.target.files[0]" />

                        <!-- <div class="mt-2">
                            <span class="text-muted">Kosongkan <b>bagian</b> ini jika tidak ingin mengganti file
                                dokumentasi.</span>
                        </div> -->
                    </div>
                    <!--/ Dokumentasi -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-xmark me-2"></i>Tutup</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save me-2"></i>
                        Simpan</button>
                </div>
            </div>
        </div>
    </div>
</form>