{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %}
Binaan Teknis
{% endblock %}
{% block content %}
<div class="breadcrumb">
  <div class="row">
    <h3 class="heading mb-2">Binaan Teknis</h3>
    <span class="mb-0">
      <span class="text-muted fw-light">Kegiatan /</span>
      <span class="ms-1 fw-medium">Binaan Teknis</span>
    </span>
  </div>
</div>

<section id="__data">
  <div class="card">
    <div class="card-body">
      <div id="headline" class="mb-3">
        <h3 class="text-center">REKAPITULASI PEMBINAAN TEKNIS BNN, BNNP KE BNNK <br /> <span id="currentYear"></span>
        </h3>
        <hr />
      </div>

      <div class="action-button">
        <div class="d-flex justify-content-end mb-3 gap-2">
          <button class="btn btn-success" onclick="handleExport()">
            <i class="fas fa-file-export me-2"></i>Ekspor Data
          </button>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
            <i class="fas fa-plus me-2"></i>Tambah Data
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <div class="col-4 form-outline mb-4">
          <label class="form-label" for="datatable-search-input">Pencarian </label>
          <input type="text" class="form-control" v-model="searchField" @input="searchData($event)"
            @blur="searchData($event)" placeholder="Cari Data" />
        </div>
        {% include 'psm/bintek/table.html' %}
        <nav class="mt-3" aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <button :disabled='currentPage <= 1' class="page-link" href="#" aria-label="Previous"
                @click="currentPage--">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </button>
            </li>
            <template v-for="p in totalPage" :key="i">
              <li class="page-item"><button class="page-link" @click="currentPage=p">${p}</button></li>
            </template>
            <li class="page-item">
              <button :disabled='currentPage => totalPage' class="page-link" aria-label="Next" @click="currentPage++">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block js_tambahan %}
<script>
  const { createApp, ref, onMounted, computed } = Vue;
  createApp({
    setup() {
      let bintekData = ref(null);
      let satkerLevel = parseInt('{{ user.profile.satker.level }}');
      let perPage = ref(10);
      let currentPage = ref(1);
      let searchField = ref(null);
      let filteredPage = ref(null);

      const totalPage = computed(() => {
        if (bintekData.value) {
          return Math.ceil(bintekData.value.length / perPage.value);
        }
        else return 0;
      });

      const pagedData = computed(() => {
        if (filteredPage.value) {
          d = filteredPage.value.slice((currentPage.value - 1) * perPage.value, (currentPage.value) * perPage.value);
          return d;
        }
        else return [];
      });

      function searchData(e) {
        filteredPage.value = bintekData.value.filter((data) => {
          idx = String(data.satker.toUpperCase());
          target = String(data.target.toUpperCase());
          deskripsi = String(data.deskripsi.toUpperCase());
          kendala = String(data.kendala.toUpperCase());
          kesimpulan = String(data.kesimpulan.toUpperCase());
          tindak_lanjut = String(data.tindak_lanjut.toUpperCase());

          bool1 = idx.indexOf(searchField.value.toUpperCase()) > -1;
          bool2 = target.indexOf(searchField.value.toUpperCase()) > -1;
          bool3 = deskripsi.indexOf(searchField.value.toUpperCase()) > -1;
          bool4 = kendala.indexOf(searchField.value.toUpperCase()) > -1;
          bool5 = kesimpulan.indexOf(searchField.value.toUpperCase()) > -1;
          bool6 = tindak_lanjut.indexOf(searchField.value.toUpperCase()) > -1;
          return bool1 || bool2 || bool3 || bool4 || bool5 || bool6;
        });
      };

      function hideableButton(status, satkerLevel, type) {
        if (type == 'kirim') {
          return satkerLevel != 2 && ((satkerLevel == 0 && status < 2) || (satkerLevel == 1 && status < 1));
        } else if (type == 'edit') {
          return satkerLevel == 2 || ((satkerLevel == 0 && status < 2) || (satkerLevel == 1 && status < 1));
        }
      }

      const apiURL = (satkerLevel == 1 ? '/kegiatan/api/v1/psm/binaan_teknis/get_data_bnnk/?format=datatables' : '/kegiatan/api/v1/psm/binaan_teknis/?format=datatables')

      function loadData() {
        tableContent = [];

        axios.get(apiURL).then(function (response) {
          data = response.data.data;
          for ([key, value] of Object.entries(data)) {
            if (value.data && value.data.length > 0) {
              baris = {
                'class': 'table-primary',
                'hide_satker': false,
                'index': parseInt(key) + 1,
                'satker': value.satker.nama_satker + '(' + value.data.length + ' kegiatan)',
                'tanggal': '',
                'target': '',
                'deskripsi': '',
                'kendala': '',
                'kesimpulan': '',
                'tindak_lanjut': '',
                'status': '',
                'type': 'parent'
              };
              tableContent.push(baris);
              for ([key2, value2] of Object.entries(value.data)) {
                baris = {
                  'class': '',
                  'hide_satker': true,
                  'index': (parseInt(key) + 1) + '.' + (parseInt(key2) + 1),
                  'id': value2.id,
                  'satker': value2.satker.nama_satker,
                  'tanggal': (value2.tanggal_akhir) ? value2.tanggal_awal + ' s/d ' + value2.tanggal_akhir : value2.tanggal_awal,
                  'target': value2.satker_target.nama_satker,
                  'deskripsi': value2.deskripsi,
                  'kendala': value2.kendala,
                  'kesimpulan': value2.kesimpulan,
                  'tindak_lanjut': value2.tindak_lanjut,
                  'dokumentasi': value2.dokumentasi,
                  'drive_url': value2.drive_url,
                  'anggaran': 'Rp ' + parseInt(value2.anggaran).toLocaleString('id-ID'),
                  'penyerapan_anggaran': 'Rp ' + parseInt(value2.penyerapan_anggaran).toLocaleString('id-ID'),
                  'status': value2.status,
                  'level': value2.satker.level,
                  'type': 'first__child',
                  'kirim': hideableButton(value2.status, satkerLevel, 'kirim'),
                  'edit': hideableButton(value2.status, satkerLevel, 'edit'),
                };
                tableContent.push(baris);
              }
            }
            if (value.detail !== undefined && value.detail.length > 0) {
              for ([key3, value3] of Object.entries(value.detail)) {
                baris = {
                  'class': 'table-secondary',
                  'hide_satker': false, 'index': (parseInt(key) + 1) + '.' + (parseInt(key2) + 1) + '.' + (parseInt(key3) + 1),
                  'satker': value3.satker.nama_satker + '(' + value3.data.length + ' kegiatan)',
                  'tanggal': '',
                  'target': '',
                  'deskripsi': '',
                  'kendala': '',
                  'kesimpulan': '',
                  'tindak_lanjut': '',
                  'status': '',
                  'type': 'parent'
                };
                tableContent.push(baris);
                for ([key4, value4] of Object.entries(value3.data)) {
                  baris = {
                    'class': '',
                    'hide_satker': true,
                    'index': (parseInt(key) + 1) + '.' + (parseInt(key2) + 1) + '.' + (parseInt(key3) + 1) + '.' + (parseInt(key4) + 1),
                    'id': value4.id,
                    'satker': value4.satker.nama_satker,
                    'tanggal': (value4.tanggal_akhir) ? value4.tanggal_awal + ' s/d ' + value4.tanggal_akhir : value4.tanggal_awal,
                    'target': value4.satker_target.nama_satker,
                    'deskripsi': value4.deskripsi,
                    'kendala': value4.kendala,
                    'kesimpulan': value4.kesimpulan,
                    'tindak_lanjut': value4.tindak_lanjut,
                    'dokumentasi': value2.dokumentasi,
                    'drive_url': value4.drive_url,
                    'anggaran': 'Rp ' + parseInt(value4.anggaran).toLocaleString('id-ID'),
                    'penyerapan_anggaran': 'Rp ' + parseInt(value4.penyerapan_anggaran).toLocaleString('id-ID'),
                    'level': value4.satker.level,
                    'status': value4.status,
                    'type': 'second__child',
                    'kirim': hideableButton(value4.status, satkerLevel, 'kirim'),
                    'edit': hideableButton(value4.status, satkerLevel, 'edit'),
                  };
                  tableContent.push(baris);
                }
              }
            }
          }
          bintekData.value = tableContent;
          filteredPage.value = bintekData.value;
        });
      };

      async function handleEditModal(id) {
        try {
          const response = await axios.get(`/kegiatan/api/v1/psm/binaan_teknis/get_detail_data/?id=${id}`);
          const data = response.data;

          $('#edit__id').val(data[0].id);
          $('#edit__tanggal_awal').val(data[0].tanggal_awal);
          $('#edit__tanggal_akhir').val(data[0].tanggal_akhir);
          $('#edit__satker').val(data[0].satker_id).trigger('change');
          $('#edit__satker_target').val(data[0].satker_target).trigger('change');
          $('#edit__deskripsi').val(data[0].deskripsi);
          $('#edit__kendala').val(data[0].kendala);
          $('#edit__kesimpulan').val(data[0].kesimpulan);
          $('#edit__tindak_lanjut').val(data[0].tindak_lanjut);
          $('#edit__anggaran').val(data[0].anggaran);
          $('#edit__penyerapan_anggaran').val(data[0].penyerapan_anggaran);
          $('#edit__drive_url').val(data[0].drive_url);

          var anggaran = data[0].anggaran,
            penyerapan_anggaran = data[0].penyerapan_anggaran;
          var selisih = (parseInt(anggaran) - parseInt(penyerapan_anggaran));
          var formattedAmount = selisih.toLocaleString('id-ID');
          $('span#edit__amount').text(!isNaN(parseInt(formattedAmount)) ? formattedAmount : '0');

          $('#editModal').modal('show');
        } catch (error) {
          showSwalGenericError();
          console.error('Terjadi kesalahan :', error);
        }
      }

      async function handleDelete(id) {
        const confirmationText = `Untuk menghapus data tersebut? <br> Data yang dihapus tidak dapat <b>dipulihkan</b> kembali`;
        const confirmResult = await showSwalConfirm(confirmationText, 'Ya, hapus data');
        if (!confirmResult.isConfirmed) return;
        showSwalLoading();
        await sleep(1000);
        try {
          const response = await axios.delete(
            `/kegiatan/api/v1/psm/binaan_teknis/perform_delete/?id=${id}`
          ).then(function (response) {
            Swal.fire({
              title: 'Berhasil!',
              html: `Data kegiatan berhasil <b>dihapus</b>`,
              icon: 'success',
              confirmButtonText: 'OK',
            }).then((result) => {
              if (result.isConfirmed) {
                location.reload()
              }
            });
          });
        } catch (error) {
          console.log('Terjadi kesalahan : ', error);
          showSwalGenericError();
        }
      }

      async function handleKirim(satker, id) {
        const confirmResult = await showSwalConfirm(`Apakah anda yakin untuk mengirim data kegiatan dari Satuan Kerja <b>${satker}</b>`, 'Ya, kirim data');
        if (!confirmResult.isConfirmed) return;
        showSwalLoading();
        await sleep(1000);
        try {
          const response = await axios.post(
            `/kegiatan/api/v1/psm/binaan_teknis/kirim_kegiatan/`,
            { id: id }
          ).then(function (response) {
            const sendedToParent = response.data.parent.keterangan;
            Swal.fire({
              title: 'Berhasil!',
              html: `Data <b>kegiatan</b> untuk <b>${satker}</b> telah berhasil <b>dikirimkan ke ${sendedToParent}</b>`,
              icon: 'success',
              confirmButtonText: 'OK',
            }).then((result) => {
              if (result.isConfirmed) {
                location.reload()
              }
            });
          })
        } catch (error) {
          showSwalGenericError();
          console.error('Terjadi kesalahan :', error);
        }
      }

      onMounted(() => {
        loadData();
      });
      return {
        bintekData,
        satkerLevel,
        loadData,
        handleEditModal,
        handleDelete,
        handleKirim,
        totalPage,
        perPage,
        currentPage,
        pagedData,
        searchData,
        searchField
      }
    },
    delimiters: ['${', '}']
  }).mount('#app');
</script>

<script>
  $(document).ready(function () {
    $('#create__anggaran, #create__penyerapan_anggaran').on('keyup', function () {
      var anggaran = ($('#create__anggaran').val()) ? $('#create__anggaran').val() : 0,
        anggaran = anggaran.replace(/\./g, '').replace(',', '.'),
        penyerapan_anggaran = ($('#create__penyerapan_anggaran').val()) ? $('#create__penyerapan_anggaran').val() : 0,
        penyerapan_anggaran = penyerapan_anggaran.replace(/\./g, '').replace(',', '.');

      var selisih = (parseInt(anggaran) - parseInt(penyerapan_anggaran));
      var formattedAmount = selisih.toLocaleString('id-ID');
      $('span#amount').text(formattedAmount);
    });

    $('#edit__anggaran, #edit__penyerapan_anggaran').on('keyup', function () {
      var anggaran = $('#edit__anggaran').val(),
        anggaran = anggaran.replace(/\./g, '').replace(',', '.'),
        penyerapan_anggaran = $('#edit__penyerapan_anggaran').val(),
        penyerapan_anggaran = penyerapan_anggaran.replace(/\./g, '').replace(',', '.');

      var selisih = (parseInt(anggaran) - parseInt(penyerapan_anggaran));
      var formattedAmount = selisih.toLocaleString('id-ID');
      $('span#edit__amount').text(formattedAmount);
    });
  })

  async function handleExport() {
    showSwalLoading();
    await sleep(1000);
    try {
      const response = await axios.post('/kegiatan/api/v1/psm/binaan_teknis/export_data/');

      const data = response.data;
      window.location.href = data.file_path;
      const confirmation = await Swal.fire({
        title: "Berhasil",
        html: `Data <b>Kegiatan Binaan Teknis</b> telah <b>berhasil</b> diexport! <br>Klik tombol unduh ulang apabila <b>gagal</b>!`,
        icon: "success",
        confirmButtonText: "Unduh ulang.",
        showCancelButton: true,
        cancelButtonText: 'Batalkan',
        showCloseButton: true,
        allowOutsideClick: false,
      });
      if (confirmation.isConfirmed) {
        console.log('Blud is downloading again!');
        const response = await axios.post('/kegiatan/api/v1/psm/binaan_teknis/export_data/');
        const data = response.data;
        window.location.href = data.file_path;
      }
    } catch (error) {
      showSwalGenericError();
      console.error('Terjadi kesalahan :', error);
    }
  }

  async function handleEdit(e) {
    e.preventDefault();
    showSwalLoading();

    const id = $('#edit__id').val();
    const tanggal_awal = $("#edit__tanggal_awal").val();
    const tanggal_akhir = $("#edit__tanggal_akhir").val();
    const satker = $("#edit__satker").val();
    const satker_target = $("#edit__satker_target").val();
    const deskripsi = $("#edit__deskripsi").val();
    const kendala = $("#edit__kendala").val();
    const kesimpulan = $("#edit__kesimpulan").val();
    const tindak_lanjut = $("#edit__tindak_lanjut").val();
    var anggaran = $('#edit__anggaran').val(),
      penyerapan_anggaran = $('#edit__penyerapan_anggaran').val(),
      anggaran = anggaran.replace(/\./g, '').replace(',', '.'),
      penyerapan_anggaran = penyerapan_anggaran.replace(/\./g, '').replace(',', '.');
    const drive_url = $("#edit__drive_url").val();
    const dokumentasi = $("#edit__dokumentasi")[0].files[0];

    const data = {
      id,
      satker,
      satker_target,
      tanggal_awal,
      tanggal_akhir,
      deskripsi,
      kendala,
      kesimpulan,
      tindak_lanjut,
      anggaran,
      penyerapan_anggaran,
      drive_url,
      dokumentasi,
    };
    console.log(data);

    const formData = new FormData();

    formData.append("id", id);
    formData.append("tanggal_awal", tanggal_awal);
    formData.append("tanggal_akhir", tanggal_akhir);
    formData.append("satker", parseInt(satker));
    formData.append("satker_target", parseInt(satker_target));
    formData.append("deskripsi", deskripsi);
    formData.append("kendala", kendala);
    formData.append("kesimpulan", kesimpulan);
    formData.append("tindak_lanjut", tindak_lanjut);
    formData.append("anggaran", parseInt(anggaran));
    formData.append("penyerapan_anggaran", parseInt(penyerapan_anggaran));
    formData.append("drive_url", drive_url);
    if (dokumentasi) { formData.append('dokumentasi', dokumentasi); }

    try {
      const response = await axios.patch(
        `/kegiatan/api/v1/psm/binaan_teknis/perform_update/`, formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      }).then(function (response) {
        $("#editModal").modal("hide");
        Swal.fire({
          title: 'Berhasil!',
          html: `Data kegiatan telah <b>berhasil</b> diperbarui!`,
          icon: 'success',
          confirmButtonText: 'OK',
        }).then((result) => {
          if (result.isConfirmed) {
            location.reload()
          }
        });
      });
    } catch (error) {
      showSwalGenericError();
      console.error("Terjadi kesalahan :", error);
    }
  }

  async function handlePost(e) {
    e.preventDefault()
    showSwalLoading()

    const tanggal_awal = $("#create__tanggal_awal").val();
    const tanggal_akhir = $("#create__tanggal_akhir").val();
    const satker = parseInt($("#create__satker").val());
    const satker_target = parseInt($("#create__satker_target").val());
    const deskripsi = $("#create__deskripsi").val();
    const kendala = $("#create__kendala").val();
    const kesimpulan = $("#create__kesimpulan").val();
    const tindak_lanjut = $("#create__tindak_lanjut").val();
    var anggaran = $('#create__anggaran').val();
    anggaran = anggaran.replace(/\./g, '').replace(',', '.');
    var penyerapan_anggaran = $('#create__penyerapan_anggaran').val();
    penyerapan_anggaran = penyerapan_anggaran.replace(/\./g, '').replace(',', '.');
    const drive_url = $("#create__drive_url").val();
    const dokumentasi = $("#create__dokumentasi")[0].files[0];

    const data = {
      satker,
      satker_target,
      tanggal_awal,
      tanggal_akhir,
      deskripsi,
      kendala,
      kesimpulan,
      tindak_lanjut,
      anggaran,
      penyerapan_anggaran,
      drive_url,
      dokumentasi,
    };
    console.log(data);

    const formData = new FormData();

    formData.append("tanggal_awal", tanggal_awal);
    formData.append("tanggal_akhir", tanggal_akhir);
    formData.append("satker", parseInt(satker));
    formData.append("satker_target", parseInt(satker_target));
    formData.append("deskripsi", deskripsi);
    formData.append("kendala", kendala);
    formData.append("kesimpulan", kesimpulan);
    formData.append("tindak_lanjut", tindak_lanjut);
    formData.append("anggaran", parseInt(anggaran));
    formData.append("penyerapan_anggaran", parseInt(penyerapan_anggaran));
    formData.append("drive_url", drive_url);
    formData.append("dokumentasi", dokumentasi);

    try {
      const response = await axios.post(
        `/kegiatan/api/v1/psm/binaan_teknis/perform_create/`, formData, {
        headers: {
          "Content-Type": "multipart/form-data",
        },
      }).then(function (response) {
        Swal.fire({
          title: 'Berhasil!',
          html: `Data kegiatan telah <b>berhasil</b> ditambahkan!`,
          icon: 'success',
          confirmButtonText: 'OK',
        }).then((result) => {
          if (result.isConfirmed) {
            location.reload()
          }
        });
      });

    } catch (error) {
      showSwalGenericError();
      console.error("Terjadi kesalahan :", error);
    }
  }
</script>
{% endblock %}

{% block modal_tambahan %}
{% include 'psm/bintek/modals/create.html' %}
{% include 'psm/bintek/modals/edit.html' %}
{% endblock %}