<table class="table table-bordered" id="__table">
  <thead class="" style="background-color: #2ca8dc;">
    <tr>
      <th rowspan="2" style="color: white;">NO</th>
      <th rowspan="2" style="color: white;">SATKER PELAKSANA</th>
      <th rowspan="2" style="color: white;">TANGGAL</th>
      <th rowspan="2" style="color: white;">SATUAN KERJA YANG DIUNDANG</th>
      <th rowspan="2" style="color: white;">DESKRIPSI</th>
      <th rowspan="2" style="color: white;">KENDALA</th>
      <th rowspan="2" style="color: white;">KESIMPULAN</th>
      <th rowspan="2" style="color: white;">TINDAK LANJUT</th>
      <th colspan="2" style="color: white;" class="text-center">ANGGARAN</th>
      <th rowspan="2" style="color: white;">DOKUMENTASI</th>
      <th rowspan="2" style="color: white;">AKSI</th>
    </tr>
    <tr>
      <th style="color: white;">PERENCANAAN ANGGARAN</th>
      <th style="color: white;">PENYERAPAN ANGGARAN</th>
    </tr>
  </thead>
  <tbody class="align-tr-middle text-white">
    <template v-for="(topLevel, index) in pagedData">
      <tr :class="topLevel.class">
        <td style='text-align:right'>${topLevel.index}</td>
        <td>
          <template v-if="topLevel.hide_satker"></template>
          <template v-else>${topLevel.satker}</template>
        </td>
        <td>${topLevel.tanggal}</td>
        <td>${topLevel.target}</td>
        <td>${topLevel.deskripsi}</td>
        <td>${topLevel.kendala}</td>
        <td>${topLevel.kesimpulan}</td>
        <td>${topLevel.tindak_lanjut}</td>
        <td>${topLevel.anggaran}</td>
        <td>${topLevel.penyerapan_anggaran}</td>
        <td>
          <template v-if="topLevel.type != 'parent'">
            <div class="list-button gx-3 text-uppercase">
              <div>
                <a :href='topLevel.drive_url' target="_blank" class="badge bg-primary text-white text-decoration-none mb-1">
                  <i class="fa-brands fa-google-drive me-2"></i>Drive
                </a>
              </div>
              <div>
                <a :href='topLevel.dokumentasi' target="_blank" class="badge bg-primary text-white text-decoration-none mb-1"><i
                    class="fas fa-file me-2"></i>Dokumentasi</a>
              </div>
            </div>
          </template>
        </td>
        <td>
          <template v-if="topLevel.type != 'parent'">
            <div class="list-button gx-3 text-uppercase">
              <template v-if="topLevel.kirim">
                <div>
                  <a href="javascript:void(0);" style="background-color:#00A0A9;"
                    @click="handleKirim(topLevel.satker, topLevel.id)"
                    class="badge text-white text-decoration-none mb-1">
                    <i class="fa-regular fa-paper-plane me-2"></i>Kirim
                  </a>
                </div>
              </template>
              <template v-if="satkerLevel == 2">
                <div>
                  <a href="javascript:void(0);" @click="handleEditModal(topLevel.id)"
                    class="badge bg-success text-white text-decoration-none mb-1">
                    <i class="fas fa-pen-to-square me-2"></i>Edit
                  </a>
                </div>
                <div>
                  <a href="javascript:void(0);" @click="handleDelete(topLevel.id)"
                    class="badge bg-danger text-white text-decoration-none mb-1"><i
                      class="fas fa-trash-alt me-2"></i>Hapus</a>
                </div>
              </template>
              <template v-else>
                <template v-if="topLevel.type != 'second__child'">
                  <template v-if="topLevel.edit">
                    <div>
                      <a href="javascript:void(0);" @click="handleEditModal(topLevel.id)"
                        class="badge bg-success text-white text-decoration-none mb-1">
                        <i class="fas fa-pen-to-square me-2"></i>Edit
                      </a>
                    </div>
                    <div>
                      <a href="javascript:void(0);" @click="handleDelete(topLevel.id)"
                        class="badge bg-danger text-white text-decoration-none mb-1"><i
                          class="fas fa-trash-alt me-2"></i>Hapus</a>
                    </div>
                  </template>
                  <template v-else>
                    <div>
                      <a href="javascript:void(0);" class="badge bg-secondary text-white text-decoration-none mb-1">
                        <i class="fas fa-pen-to-square me-2"></i>Edit
                      </a>
                    </div>
                    <div>
                      <a href="javascript:void(0);" class="badge bg-secondary text-white text-decoration-none mb-1"><i
                          class="fas fa-trash-alt me-2"></i>Hapus</a>
                    </div>
                  </template>
                </template>
              </template>
            </div>
          </template>
        </td>
      </tr>
    </template>
  </tbody>
</table>