<table class="table table-bordered" id="__table">
  <thead class="bg-soft-green">
    <tr>
      <th rowspan="2">No.</th>
      <th rowspan="2">Satuan Kerja</th>
      <th rowspan="2">Jumlah Kegiatan</th>
      <th rowspan="2">Detail</th>
      <th rowspan="2" class="bg-soft-danger">Status Indeks Kemandirian Partisipasi</th>
      <th colspan="2" class="bg-soft-danger">Status IKP Akhir</th>
      <th rowspan="2">Deskripsi Hasil</th>
      <th rowspan="2">Simpulan</th>
      <th rowspan="2">Tidak Lanjut</th>
      <th rowspan="2">Dokumentasi</th>
      <th rowspan="2">
        AKSI<i class="fas fa-edit ms-2"></i>
      </th>
    </tr>
    <tr>
      <th scope="col" class="bg-soft-danger">Nilai IKP</th>
      <th scope="col" class="bg-soft-danger">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr class="">
      <td scope="row">1</td>
      <td>BNNK Jawa Barat</td>
      <td>3</td>
      <td>
        <a href="javascript:;" class="badge bg-primary text-decoration-none text-white" data-bs-toggle="modal" data-bs-target="#detailMonevModal"><i class="fas fa-eye me-2"></i>Lihat Detail</a>
      </td>
      <td>Sangat Mandiri</td>
      <td>1-20</td>
      <td>Sangat Mandiri - Kurang Mandiri</td>
      <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, excepturi!</td>
      <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, excepturi!</td>
      <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, excepturi!</td>
      <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, excepturi!</td>
      <td>
        <div class="list-button">
          <a href="javascript:;" class="badge bg-success text-white text-decoration-none mb-1"><i class="fas fa-pen-to-square me-2"></i>EDIT</a>
          <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1"><i class="fas fa-trash-alt me-2"></i>HAPUS</a>
        </div>
      </td>
    </tr>
    <tr class="">
      <td scope="row">1</td>
      <td>BNNK Jawa Barat</td>
      <td>3</td>
      <td>
        <a href="javascript:;" class="badge bg-primary text-decoration-none text-white" data-bs-toggle="modal" data-bs-target="#detailMonevModal"><i class="fas fa-eye me-2"></i>Lihat Detail</a>
      </td>
      <td>Sangat Mandiri</td>
      <td>1-20</td>
      <td>Sangat Mandiri - Kurang Mandiri</td>
      <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, excepturi!</td>
      <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, excepturi!</td>
      <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, excepturi!</td>
      <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, excepturi!</td>
      <td>
        <div class="list-button">
          <a href="javascript:;" class="badge bg-success text-white text-decoration-none mb-1"><i class="fas fa-pen-to-square me-2"></i>EDIT</a>
          <a href="javascript:;" id="deleteData" class="badge bg-danger text-white text-decoration-none mb-1"><i class="fas fa-trash-alt me-2"></i>HAPUS</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
