<div class="modal fade" id="detailMonevModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Detail Monev untuk Satker <b>BNN Provinsi Jawa Barat</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered table-lg" style="white-space: nowrap">
            <thead class="bg-soft-blue">
              <tr class="text-center">
                <th colspan="2" class="">Pelaksanaan</th>
                <th colspan="4" class="bg-soft-danger">Satker / Lingkungan Yang Dilakukan Supervisi</th>
                <th rowspan="3">Jumlah Peserta</th>
                <th rowspan="3">Status Indeks Kemandirian Partisipasi</th>
                <th colspan="2" class="bg-soft-success">Status IKP Akhir</th>
                <th rowspan="3">Deskripsi Hasil</th>
                <th rowspan="3">Kesimpulan</th>
                <th rowspan="3">Tindak Lanjut</th>
                <th rowspan="3">Dokumentasi</th>
                <th rowspan="3">Aksi</th>
              </tr>
              <tr class="text-center">
                <th rowspan="2">No</th>
                <th rowspan="2">Tanggal</th>
                <th rowspan="2" class="bg-soft-danger">Nama Lingkungan Dan Satker</th>
                <th colspan="3" class="bg-soft-danger" class="">Peserta</th>
                <th rowspan="2" class="bg-soft-success">Nilai IKP</th>
                <th rowspan="2" class="bg-soft-success">Status</th>
              </tr>
              <tr class="bg-soft-danger text-center">
                <th>Nama dan Jabatan</th>
                <th>Pria</th>
                <th>Wanita</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>28 Agustus s/d 29 September 2022</td>
                <td>Contoh Nama Lingkungan dan Satker</td>
                <td class="text-center">
                  <a href="javascript:void(0);" class="badge bg-primary text-decoration-none text-white" data-bs-toggle="modal" data-bs-target="#detailPesertaMonev"><i class="fas fa-eye me-2"></i>Lihat Detail</a>
                </td>
                <td>
                  <span class="text-primary">8</span>
                </td>
                <td>
                  <span class="text-danger">10</span>
                </td>
                <td>18</td>
                <td>Sangat Mandiri</td>
                <td>3,26–4,00 (81,26-100)</td>
                <td>Sangat Mandiri</td>
                <td>Contoh Deskripsi Hasil</td>
                <td>Contoh Kesimpulan</td>
                <td>Contoh Tindak Lanjut</td>
                <td>
                  <a href="javascript:void(0);">Lihat Dokumentasi</a>
                </td>
                <td>
                  <div class="list-button">
                    <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#editDataKegiatan" class="badge bg-success text-white text-decoration-none mb-1"><i class="fas fa-pen-to-square me-2"></i>EDIT</a>
                    <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1 deleteKegiatan"><i class="fas fa-trash-alt me-2"></i>HAPUS</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-xmark me-2"></i>
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>
