<table class="table table-bordered" id="__table">
  <thead class="bg-soft-green">
    <tr class="text-center">
      <th>NO.</th>
      <th>SATUAN KERJA</th>
      <th>
        JUMLAH KEGIATAN <br /> <span class="text-muted">(kali)</span>
      </th>
      <th>
        No. <span class="text-muted">(Sesuai Jumlah Kegiatan)</span>
      </th>
      <th>
        TANGGAL <br /> <span class="text-muted">(Hari/Bulan/Tahun)</span>
      </th>
      <th>SATKER YANG DIBINTEK</th>
      <th>DESKRIPSI HASIL</th>
      <th>HAMBATAN DAN KENDALA</th>
      <th>SIMPULAN</th>
      <th>TINDAK LANJUT</th>
      <th>DOKUMENTASI</th>
      <th>AKSI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">1</td>
      <td>BNNK Jawa Barat</td>
      <td class="text-center">3</td>
      <td class="text-center">1</td>
      <td class="text-center">17/01/2024</td>
      <td>BNNK Surakarta</td>
      <td>Pembinaan teknis dilaksanakan di BNN Kota Surakarta dengan tujuan untuk mengetahui wilayah rawan yang akan diinvestasikan dan proses yang akan dilaksanakan dalam pelaksanaan program pemberdayaan alternatif di BNN Kota Surakarta</td>
      <td>Tidak ada hambatan ataupun kendala apapun saat pelaksanaan kegiatan</td>
      <td>Stakeholders sangat mendukung program pemberdayaan alternatif yang akan dilaksanakan oleh BNN Kota Surakarta</td>
      <td>Perlu adanya koordinasi lebih lanjut dengan berbagai pihak agar kegiatan dapat berjalan secara berkesinambungan</td>
      <td>
        <a href="javascript:;" class="text-primary">Lihat dokumentasi</a>
      </td>
      <td>
        <div class="list-button">
          <a href="javascript:;" class="badge bg-success text-white text-decoration-none mb-1"><i class="fas fa-pen-to-square me-2"></i>EDIT</a>
          <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1"><i class="fas fa-trash-alt me-2"></i>HAPUS</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
