<div class="modal fade" id="detailPelaksanaanModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Detail Pelaksanaan untuk Satuan Kerja
                    <strong>{{ user.profile.satker }}</strong>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th class="bg-soft-danger text-center" rowspan="1" colspan="3">Pelaksanaan</th>
                                <th class="bg-soft-success" rowspan="3">Kawasan Yang Diintervensi</th>
                                <th class="bg-soft-success" rowspan="3">Keterampilan Yang Diberikan</th>
                                <th class="bg-soft-danger" rowspan="3">Daftar Peserta</th>
                                <th class="bg-soft-success" rowspan="3">Jumlah Peserta</th>
                                <th class="bg-soft-danger" rowspan="1" colspan="2">Sinergi</th>
                                <th class="bg-soft-danger" rowspan="1" colspan="2">Hasil SKM</th>
                                <th class="bg-soft-danger" rowspan="1" colspan="2">Hasil Indeks Kewirausahaan</th>
                                <th class="bg-soft-danger" rowspan="1" colspan="4">Status Kerawanan Kawasan</th>
                                <th class="bg-soft-success" rowspan="3">Kesimpulan</th>
                                <th class="bg-soft-success" rowspan="3">Tindak Lanjut</th>
                                <th class="bg-soft-success" rowspan="3">Dokumentasi</th>
                                <th class="bg-soft-success" rowspan="3">AKSI<i class="fas fa-edit ms-2"></i></th>
                            </tr>
                            <tr class="bg-soft-primary">
                                <!-- Pelaksanaan -->
                                <th rowspan="2">No.</th>
                                <th rowspan="2">Tanggal</th>
                                <th rowspan="2">Tempat</th>
                                <!--/ Pelaksanaan -->

                                <!-- Sinergi -->
                                <th rowspan="2">Desa</th>
                                <th rowspan="2">IBM</th>
                                <!--/ Sinergi -->

                                <!-- Hasil SKM -->
                                <th rowspan="2">Nilai <br><span class="text-muted">(1,00 - 4,00)</span></th>
                                <th rowspan="2">Kategori</th>
                                <!--/ Hasil SKM -->

                                <!-- Hasil Indeks Kewirausahaan -->
                                <th rowspan="2">Nilai <br><span class="text-muted">(1,00 - 4,00)</span></th>
                                <th rowspan="2">Kategori</th>
                                <!--/ Hasil Indeks Kewirausahaan -->

                                <!-- Status Kerawanan Kawasan -->
                                <th rowspan="2">Awal</th>
                                <th rowspan="1" colspan="2">Akhir</th>
                                <th rowspan="2">Pulih/Belum Pulih</th>
                                <!--/ Status Kerawanan Kawasan -->
                            </tr>
                            <tr class="bg-soft-success">
                                <!-- Akhir -->
                                <th rowspan="1">Nilai IKKR</th>
                                <th rowspan="1">Status</th>
                                <!--/ Akhir -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <!-- Pelaksanaan -->
                                <td>19/01/2024 - 20/01/2024</td>
                                <td>Aula Kecamatan Sawang, Kabupaten Aceh Utara </td>
                                <!--/ Pelaksanaan -->
                                <td>
                                    <ol class="my-auto">
                                        <li>Kabupaten/Kota : Aceh Utara</li>
                                        <li>Kecamatan : Sawang</li>
                                        <li>Desa/Kelurahan : Jurong</li>
                                    </ol>
                                </td>
                                <td>Pembuatan Sabun</td>
                                <td>
                                    <a href="javascript:;" data-bs-toggle="modal"
                                        data-bs-target="#detailDaftarPesertaModal"
                                        class="text-primary text-decoration-none">Lihat daftar
                                        peserta</a>
                                </td>
                                <td>3 orang</td>

                                <!-- Sinergi -->
                                <td>Ya</td>
                                <td>Tidak</td>
                                <!--/ Sinergi -->

                                <!-- Hasil SKM -->
                                <td>2.56</td>
                                <td>Baik</td>
                                <!--/ Hasil SKM -->

                                <!-- Hasil Indeks Kewirausahaan -->
                                <td>3.36</td>
                                <td>Sangat Baik</td>
                                <!--/ Hasil Indeks Kewirausahaan -->

                                <!-- Status Kerawanan Kawasan -->
                                <td>Bahaya</td>
                                <td>2.75</td>
                                <td>Waspada</td>
                                <td>Pulih</td>
                                <!--/ Status Kerawanan Kawasan -->

                                <td>
                                    <ol class="my-auto">
                                        <li>
                                            Hasil pelaksanaan kegiatan: monev dilakukan dengan metode kunjungan lapangan
                                        ke kawasan yang diintervensi, melakukan wawancara dan cross check terkait dengan
                                        pelaksanaan kegiatan dayatif, kemudian dilanjutkan dengan pengisian kuesioner
                                        IKKR kepada beberapa responden terpilih.
                                        </li>
                                        <li>
                                            Hambatan/kendala: pengembangan usaha yang dijlaankan peserta setelah bimtek
                                        life skill mengalami beberapa kendala mulai dari minimnya permodalan sampai
                                        dengan perizinan usaha.
                                        </li>
                                    </ol>
                                </td>
                                <td>
                                    Perlu dilakukan audiensi dengan OPD terkait untuk mencari solusi yang dihadapi para peserta. 
                                </td>
                                <td>
                                    <a href="javascript:;" class="text-primary text-decoration-none">Lihat
                                        dokumentasi</a>
                                </td>
                                <td>
                                    <div class="list-button mt-2">
                                        <a href="javascript:;"
                                            class="badge bg-success text-white text-decoration-none mb-1">
                                            <i class="fas fa-pen-to-square me-2"></i>EDIT</a>
                                        <a href="javascript:;"
                                            class="badge bg-danger text-white text-decoration-none delete-data mb-1">
                                            <i class="fas fa-trash-alt me-2"></i>HAPUS</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-xmark me-2"></i>
                    Tutup
                </button>
            </div>
        </div>
    </div>
</div>