<table class="table table-bordered" id="__table">
    <thead style="background-color: #2ca8dc;">
        <tr>
            <th style="color: white;" rowspan="3">No.</th>
            <th style="color: white;" rowspan="3">Satker Pelaksana</th>
            <th style="color: white;" colspan="1" rowspan="1">Pelaksanaan</th>
            <th style="color: white;" colspan="5" rowspan="1" class="text-center">Satker / Lingkungan Yang Dilakukan
                Supervisi</th>
            <th style="color: white;" rowspan="3">Jumlah Peserta</th>
            <th style="color: white;" rowspan="3">Hasil Capaian</th>
            <th style="color: white;" rowspan="3">Kendala</th>
            <th style="color: white;" rowspan="3">Kesimpulan</th>
            <th style="color: white;" rowspan="3">Tindak Lanjut</th>
            <th style="color: white;" colspan="2" rowspan="1" class="text-center">Anggaran</th>
            <th style="color: white;" rowspan="3">Dokumentasi</th>
            <th style="color: white;" rowspan="3">Aksi</th>
        </tr>
        <tr class="">
            <th style="color: white;" scope="col" rowspan="2">Tanggal</th>
            <th style="color: white;" scope="col" rowspan="2">Nama Lingkungan Dan Satker</th>
            <th style="color: white;" scope="col" rowspan="2">No Seri Pin Penggiat</th>
            <th style="color: white;" colspan="3" rowspan="1" class="text-center">Peserta</th>
            <th style="color: white;" scope="col" rowspan="2">Perencanaan Anggaran</th>
            <th style="color: white;" scope="col" rowspan="2">Penyerapan Anggaran</th>
        </tr>
        <tr>
            <th style="color: white;" scope="col" rowspan="1">Nama dan Jabatan</th>
            <th style="color: white;" scope="col" rowspan="1">Pria</th>
            <th style="color: white;" scope="col" rowspan="1">Wanita</th>
        </tr>
    </thead>
    <tbody class="align-tr-middle">
        <template v-for="(topLevel, index) in pagedData">
            <tr :class="topLevel.class">
                <td style="text-align: right;">${topLevel.index}</td>
                <td>
                    <template v-if="topLevel.hide_satker"></template>
                    <template v-else>${topLevel.satker}</template>
                </td>
                <td>${topLevel.tanggal}</td>
                <td>${topLevel.nama_lingkungan}</td>
                <td>${topLevel.seri_pin_penggiat}</td>
                <td>
                    <template v-if="topLevel.type != 'parent'">
                        <div>
                            <a href="javascript:void(0);"
                                @click="modalPeserta_bimtek(topLevel.peserta_bimtek, topLevel.satker)"
                                class="badge bg-primary text-white text-decoration-none mb-1">
                                <i class="fa-solid fa-magnifying-glass me-2"></i>Lihat Detail
                            </a>
                        </div>
                    </template>
                </td>
                <td>${topLevel.L}</td>
                <td>${topLevel.P}</td>
                <td>${topLevel.jumlah_peserta_bimtek}</td>
                <td>${topLevel.hasil_capaian}</td>
                <td>${topLevel.kendala}</td>
                <td>${topLevel.kesimpulan}</td>
                <td>${topLevel.tindak_lanjut}</td>
                <td>${topLevel.anggaran}</td>
                <td>${topLevel.penyerapan_anggaran}</td>
                <td>
                    <template v-if="topLevel.type != 'parent'">
                        <div class="list-button gx-3 text-uppercase">
                            <div>
                                <a :href='topLevel.drive_url' target="_blank"
                                    class="badge bg-primary text-white text-decoration-none mb-1">
                                    <i class="fa-brands fa-google-drive me-2"></i>Drive
                                </a>
                            </div>
                            <div>
                                <a :href='topLevel.dokumentasi' target="_blank"
                                    class="badge bg-primary text-white text-decoration-none mb-1"><i
                                        class="fas fa-file me-2"></i>Dokumentasi</a>
                            </div>
                        </div>
                    </template>
                </td>
                <td>
                    <template v-if="topLevel.type != 'parent'">
                        <div class="list-button gx-3 text-uppercase">
                            <template v-if="topLevel.kirim">
                                <div>
                                    <a href="javascript:void(0);" style="background-color:#00A0A9;"
                                        @click="handleKirim(topLevel.satker, topLevel.id)"
                                        class="badge text-white text-decoration-none mb-1">
                                        <i class="fa-regular fa-paper-plane me-2"></i>Kirim
                                    </a>
                                </div>
                            </template>
                            <template v-if="satkerLevel == 2">
                                <div>
                                    <a href="javascript:void(0);" @click="handleEditModal(topLevel.id)"
                                        class="badge bg-success text-white text-decoration-none mb-1">
                                        <i class="fas fa-pen-to-square me-2"></i>Edit
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript:void(0);" @click="handleDelete(topLevel.id)"
                                        class="badge bg-danger text-white text-decoration-none mb-1"><i
                                            class="fas fa-trash-alt me-2"></i>Hapus</a>
                                </div>
                            </template>
                            <template v-else>
                                <template v-if="topLevel.type != 'second__child'">
                                    <template v-if="topLevel.edit">
                                        <div>
                                            <a href="javascript:void(0);" @click="handleEditModal(topLevel.id)"
                                                class="badge bg-success text-white text-decoration-none mb-1">
                                                <i class="fas fa-pen-to-square me-2"></i>Edit
                                            </a>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" @click="handleDelete(topLevel.id)"
                                                class="badge bg-danger text-white text-decoration-none mb-1"><i
                                                    class="fas fa-trash-alt me-2"></i>Hapus</a>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div>
                                            <a href="javascript:void(0);"
                                                class="badge bg-secondary text-white text-decoration-none mb-1">
                                                <i class="fas fa-pen-to-square me-2"></i>Edit
                                            </a>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);"
                                                class="badge bg-secondary text-white text-decoration-none mb-1"><i
                                                    class="fas fa-trash-alt me-2"></i>Hapus</a>
                                        </div>
                                    </template>
                                </template>
                            </template>
                        </div>
                    </template>
                </td>
            </tr>
        </template>
    </tbody>
</table>