<div class="modal fade" id="detailTesUrineDeteksiDini" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
          Detail
          <strong>(No 1)</strong>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="bg-soft-blue">
              <tr>
                <th class="text-center" colspan="2" rowspan="2">PELAKSANAAN</th>
                <th class="text-center bg-soft-danger" colspan="3" rowspan="2">LINGKUNGAN</th>
                <th rowspan="4">JUMLAH PESERTA</th>
                <th rowspan="4">DAFTAR PESERTA</th>
                <th rowspan="4">HASIL TES URIN</th>
                <th rowspan="4">TINDAK LANJUT</th>
                <th rowspan="4">DOKUMENTASI</th>
                <th rowspan="4">AKSI</th>
              </tr>
              <tr></tr>
              <tr class="text-center">
                <th rowspan="2">NO.</th>
                <th rowspan="2">TANGGAL</th>
                <th class="bg-soft-danger" rowspan="2">NAMA LINGKUNGAN</th>
                <th class="bg-soft-danger" colspan="2">PESERTA</th>
              </tr>
              <tr class="bg-soft-danger text-center">
                <th>PRIA</th>
                <th>WANITA</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>28 Agustus s.d. 2 September 2022</td>
                <td>BNN Kota Surakarta</td>
                <td class="text-center text-primary">5</td>
                <td class="text-center text-danger">5</td>
                <td class="text-center">10</td>
                <td>
                  <a href="javascript:;" class="badge bg-primary text-decoration-none text-white" data-bs-toggle="modal" data-bs-target="#detailPesertaTesUrin"><i class="fas fa-eye me-2"></i>Detail Peserta</a>
                </td>
                <td>Contoh Hasil Tes Urin</td>
                <td>Contoh Tindak Lanjut</td>
                <td>
                  <a href="javascript:void(0);">Lihat Dokumentasi</a>
                </td>
                <td>
                  <div class="list-button">
                    <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#editDataKegiatan" class="badge bg-success text-white text-decoration-none mb-1"><i class="fas fa-pen-to-square me-2"></i>EDIT</a>
                    <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1 deleteKegiatan"><i class="fas fa-trash-alt me-2"></i>HAPUS</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-xmark me-2"></i>
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>
