<table class="table table-bordered" id="__table">
    <thead class="bg-soft-green">
        <tr>
            <!-- <th>ID</th> -->
            <th>No.</th>
            <th>Satuan Kerja</th>
            <th>Tanggal Survei</th>
            <th>Banyak Hari</th>
            <th>Waktu Berlakunya Survei</th>
            <th>Durasi</th>
            <th class="text-center">Status</th>
            <th class="text-center">Batas Responden</th>
            <th class="text-center">Jumlah Responden</th>
            <th class="bg-soft-danger">Daftar Responden</th>
            <th style="max-width: 150px;" class="text-center">
                AKSI<i class="fas fa-edit ms-2"></i>
            </th>
        </tr>
    </thead>
    <tbody class="align-tr-middle"></tbody>
</table>