{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block title %} Literasi {% endblock title %}

{% block modal_tambahan %}
    {% include "literasi/modals/detail_literasi_modal.html" %}
    {% include "literasi/modals/create_literasi_modal.html" %}
    {% include "literasi/modals/edit_literasi_modal.html" %}
{% endblock modal_tambahan %}

{% block content %}
<div class="breadcrumb">
    <div class="row">
        <h3 class="heading mb-2">
            Literasi
        </h3>
        <span class="mb-0">
            <span class="text-muted fw-light">Literasi /</span>
            <span class="ms-1 fw-medium">Daftar Literasi</span>
        </span>
    </div>
</div>

<section id="__data">
    <div class="card">
        <div class="card-body">

            <div id="headline" class="mb-3">
                <h3 class="text-center">PENGELOLAAN DATA LITERASI 2024</h3>
                <hr>
            </div>

            <div class="action-button">
                <div class="d-flex justify-content-end mb-3 gap-2">
                    {% comment %} <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exportData">
                        <i class="fas fa-file-export me-2"></i>Ekspor Data
                    </button> {% endcomment %}
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
                        <i class="fas fa-plus me-2"></i>Tambah Data
                    </button>
                </div>
            </div>

            <div class="table-responsive">
                {% include 'literasi/table_literasi.html' %}
            </div>

        </div>
    </div>
</section>
{% endblock content %}

{% block js_tambahan %}
<script>
    const table = $("#__table").DataTable({
        language: dt_lang_config(),
        serverSide: false,
        searching: true,
        responsive: true,
        pageLength: 10,
        ajax: {
            url: `/dashboard/literasi/api/v1/?format=datatables`,
            dataSrc: "data",
        },
        ordering: true,
        columns: [
            {
                data: null,
            },
            {
                data: "judul",
                render: function (data, type, row) {
                    return `${data}`;
                },
            },
            {
                data: "dokumen",
                render: function (data, type, row) {
                    if (data) {
                        return `
                    <div class="text-center">
                        <a href="${data}" class="badge bg-primary text-white" target="_blank">
                            <i class="fas fa-download me-2"></i>
                            Unduh dokumen
                        </a>
                    </div>`;
                    } else {
                        return `<div class="text-center"><a class="text-decoration-none">Kosong</a></div>`;
                    }
                },
            },
            {
                data: "kategori",
                render: function (data, type, row) {
                    return `<div class="text-center"><a class="text-decoration-none text-primary text-capitilize">${data}</a></div>`;
                },
            },
            {
                data: "status",
                render: function (data, type, row) {
                    let output = `<div class="text-center">`;
                    let published_output = `<a href="javascript:void(0)" class="badge bg-success">
                    <i class="fas fa-check-double me-2"></i>
                    PUBLISHED
                </a>`;

                    let archived_output = `<a href="javascript:void(0)" class="badge bg-primary">
                    <i class="fas fa-archive me-2"></i>
                    ARCHIVED
                </a>`;

                    let draft_output = `<a href="javascript:void(0)" class="badge bg-secondary">
                    <i class="fas fa-pen-to-square me-2"></i>
                    DRAFT
                </a>`;

                    switch (data) {
                        case "published":
                            output += published_output;
                            break;
                        case "archived":
                            output += archived_output;
                            break;
                        case "draft":
                            output += draft_output;
                            break;
                        default:
                            output += draft_output;
                    }

                    output += `</div>`;
                    return output;
                },
            },
            {
                data: "created_by.username",
                render: function (data, type, row) {
                    return `<div class="text-center"><a class="text-decoration-none">${data}</a></div>`;
                },
            },
            {
                data: "created_at",
                render: function (data, type, row) {
                    var formattedDate = moment(data).format("D MMMM YYYY");
                    return `<div class="text-center"><a class="text-decoration-none">${formattedDate}</a></div>`;
                },
            },
            {
                data: "id",
                render: function (data, type, row) {
                    const options = JSON.stringify({ id: data, name: 'literasi', detail_name: row.judul, apiURL: '/dashboard/literasi/api/v1' });

                    return `
                    <div class="list-button gx-3 text-uppercase">
                        <div>
                            <a href="javascript:void(0);" onclick="handleDetail(${data})"
                                class="badge bg-primary text-white text-decoration-none mb-1"><i
                                    class="fas fa-eye me-2"></i>Lihat</a>
                        </div>
                        <div>
                            <a href="javascript:void(0);" onclick="handleEdit(${data})"
                                class="badge bg-success text-white text-decoration-none mb-1"><i
                                    class="fas fa-pen-to-square me-2"></i>Edit</a>
                        </div>
                        <div>
                            <a href="javascript:void(0);" class="badge bg-danger text-white text-decoration-none mb-1" onclick='handleDelete(${options})'><i
                                    class="fas fa-trash-alt me-2"></i>Hapus</a>
                        </div>
                    </div>`;
                },
            },
        ],
        createdRow: (row, data, dataIndex) => {
            $(row).attr("data-id", data.id);
            $(row).attr("data-row-index", dataIndex);
        },
        initComplete: (settings, json) => {
            console.log("Hasil fetch data : ", json);
        },
        columnDefs: [
            dt_row_pagination(),
            {
                searchable: false,
                targets: 7,
            },
        ],
    });
</script>

<script>
    let dokumen_file = null;
    let selected_kategori = null;
    let allowedExtensions = [];

    $('#dokumen').on('change', handleUploadDokumen);
    $('#edit_dokumen').on('change', handleUploadDokumen);
    $('#kategori').on('change', handleChangeKategori);
    $('#edit_kategori').on('change', handleChangeKategori);

    function handleChangeKategori(e) {
        selected_kategori = $(this).val();

        switch (selected_kategori) {
            case 'buku':
                allowedExtensions = ['pdf'];
                break;
            case 'audio':
                allowedExtensions = ['mp3'];
                break;
            case 'video':
                allowedExtensions = ['mp4', 'mkv'];
                break;
            default:
                // Defaultnya, tidak ada filter ekstensi
                allowedExtensions = [];
                break;
        }
        // Menyimpan nilai accept attribute
        var acceptValue = allowedExtensions.length > 0 ? '.' + allowedExtensions.join(', .') : '';

        $('#dokumen').attr('accept', acceptValue);
        $('#edit_dokumen').attr('accept', acceptValue);
    }

    function handleUploadDokumen(e) {
        // Mengambil ekstensi file
        const file = e.target.files[0];
        const fileExtension = file.name.split(".").pop().toLowerCase();

        // Mengecek ekstensi file
        if (!allowedExtensions.includes(fileExtension)) {
            console.error('Invalid file type');
            e.target.value = "";
            let allowedExtensionsText = allowedExtensions.join(', ').toUpperCase();
            let error_text = `File gagal diupload, hanya ekstensi <b>${allowedExtensionsText}</b> yang diizinkan untuk kategori yang dipilih.`;
            showSwalError('Terjadi Kesalahan', error_text, 5000);
            return null;
        }


        // Mengecek ukuran file
        if (file.size > 5 * 1024 * 1024) {
            console.error('File size too large');
            e.target.value = "";
            let error_text = `File yang anda upload <b>terlalu besar</b>, maksimal hanya <b>5MB</b>`;
            showSwalError('Terjadi Kesalahan', error_text, 5000);
            return null;
        }

        dokumen_file = file;
        return file;
    };

    async function handlePost(e) {
        e.preventDefault();

        showSwalLoading();

        const modal = $('#createModal');
        const form = modal.find('#formCreate');
        const formData = new FormData();

        let judul = form.find('#judul').val();
        let kategori = form.find('#kategori').val();
        let status = form.find(`input[name="status"]:checked`).val();
        let dokumen = form.find('#dokumen')[0].files[0];

        formData.append('judul', judul);
        formData.append('kategori', kategori);
        formData.append('status', status);

        formData.append('dokumen', dokumen);

        try {
            const response = await axios.post('/dashboard/literasi/api/v1/', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                },
            });

            console.log('Response saat post : ', response);
            modal.modal('hide');
            reloadTable(table);

            showSwalSuccess('Berhasil', `Data literasi <b>${judul}</b> berhasil <b>ditambahkan</b>`, 3000);
            // toast('success', 'Data berhasil ditambahkan!');
        } catch (error) {
            console.log('Terjadi kesalahan : ', error);
            showSwalGenericError();
        }
    };

    async function handleEdit(id) {
        const response = await axios.get(`/dashboard/literasi/api/v1/${id}/`);

        console.log(`Response saat fetch detail ID ${id}: `, response.data);

        const data = response.data;
        const modal = $('#editModal');
        const form = modal.find('#formUpdate');

        modal.find('#target_edited').html(data.judul);
        form.find('#edited_id').val(id);

        form.find('#edit_judul').val(data.judul);
        form.find('#edit_kategori').val(data.kategori).trigger('change');

        const url = new URL(data.dokumen);
        const path_dokumen = url.pathname;

        form.find(`input[name="status"][value="${data.status}"]`).prop('checked', true);
        form.find('#file_path').attr('href', path_dokumen);
        form.find('#file_path').html(path_dokumen);

        modal.modal('show');
    };

    async function handleUpdate(e) {
        e.preventDefault();

        showSwalLoading();

        const id = $('#edited_id').val();

        const modal = $('#editModal');
        const form = modal.find('#formUpdate');
        const formData = new FormData();

        let judul = form.find('#edit_judul').val();
        let kategori = form.find('#edit_kategori').val();
        let status = form.find(`input[name="status"]:checked`).val();
        let dokumen = form.find('#edit_dokumen')[0].files[0];

        formData.append('judul', judul);
        formData.append('kategori', kategori);
        formData.append('status', status);

        if (dokumen) { formData.append('dokumen', dokumen); }

        try {
            const response = await axios.put(`/dashboard/literasi/api/v1/${id}/`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                },
            });

            console.log(`Response saat update Data ID-${id} : `, response);

            modal.modal('hide');
            reloadTable(table);

            showSwalSuccess('Berhasil', `Data literasi <b>${judul}</b> berhasil <b>diperbarui</b>`, 3000);
            // toast('success', 'Data berhasil diperbarui!');
        } catch (error) {
            console.log('Terjadi kesalahan : ', error);
            showSwalGenericError();
        }
    };

    async function handleDetail(id) {
        const response = await axios.get(`/dashboard/literasi/api/v1/${id}/`);

        console.log(`Response saat fetch detail ID ke-${id}:`, response.data);

        const data = response.data;
        const modal = $('#detailModal');
        let wadah = modal.find('#wadah');

        modal.find('#target_detail').html(data.judul);
        wadah.attr('src', data.dokumen);

        modal.modal('show');
    }
</script>

<script>
    let s = '';

    function getURL() {
        let modified_url = `/dashboard/literasi/api/v1/?format=datatables&ordering=judul`;
        if (s != '') {
            s = convertToTitleCaseAndReplaceSpace(s);
            modified_url += `&s=${s}`;
        } else {
            modified_url = '/dashboard/literasi/api/v1/?format=datatables&ordering=judul';
        }
        return modified_url;
    }

    // $(() => {
    //     let timeoutId;

    //     $('#__table_wrapper input[type="search"]').on('keyup', function () {
    //         table.settings()[0].jqXHR.abort();

    //         clearTimeout(timeoutId);

    //         timeoutId = setTimeout(function () {

    //             s = $(this).val();

    //             const url = getURL();

    //             console.log('URL:', url);

    //             table.ajax.url(url).load();
    //         }.bind(this), 500);
    //     });
    // });
</script>

{% endblock js_tambahan %}