<!-- EULA Modal -->
<div class="modal fade" id="eulaModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modalTitleId">
                    Persyaratan dan Kondisi
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div id="eula-content">

                    <h2>Perjanjian Lisensi Pengguna Akhir</h2>
                    <hr />

                    <h3>Pengantar</h3>
                    <p>Selamat datang di Perjanjian Lisensi Pengguna Akhir (EULA) untuk perangkat lunak ini. Harap baca
                        dengan
                        seksama sebelum menggunakan perangkat lunak ini.</p>

                    <h3>Definisi</h3>
                    <ul>
                        <li>
                            <strong>Perangkat Lunak:</strong> Merujuk kepada perangkat lunak yang disediakan oleh
                            instansi
                            pemerintah ini.
                        </li>
                        <li>
                            <strong>Pengguna:</strong> Merujuk kepada pengguna akhir yang menggunakan perangkat lunak
                            ini.
                        </li>
                    </ul>

                    <h3>Perjanjian</h3>
                    <p>Dengan menggunakan perangkat lunak ini, Anda menyetujui syarat dan ketentuan dalam EULA ini. Jika
                        Anda tidak
                        menyetujui EULA ini, Anda tidak diperbolehkan untuk menggunakan perangkat lunak ini.</p>

                    <h3>Hak dan Kewajiban</h3>
                    <ul>
                        <li>
                            <strong>Hak:</strong> Anda memiliki hak untuk menggunakan perangkat lunak ini sesuai dengan
                            pedoman yang
                            diberikan oleh instansi pemerintah.
                        </li>
                        <li>
                            <strong>Kewajiban:</strong> Anda berkewajiban untuk mengikuti semua pedoman dan ketentuan
                            yang diberikan
                            oleh instansi pemerintah terkait penggunaan perangkat lunak ini.
                        </li>
                        <li>
                            <strong>Ketentuan Tambahan:</strong> Anda juga setuju untuk:<ul>
                                <li>Menjaga kerahasiaan informasi yang diberikan oleh perangkat lunak ini.</li>
                                <li>Tidak menggandakan, mendistribusikan, atau menjual perangkat lunak ini tanpa izin
                                    tertulis dari
                                    instansi pemerintah.</li>
                                <li>Menggunakan perangkat lunak ini sesuai dengan hukum yang berlaku.</li>
                                <li>Memberikan umpan balik dan laporan ke instansi pemerintah sesuai dengan permintaan
                                    mereka.</li>
                            </ul>
                        </li>
                    </ul>

                    <h3>Pembaruan dan Perubahan</h3>
                    <p>Instansi pemerintah berhak untuk melakukan pembaruan dan perubahan pada perangkat lunak ini tanpa
                        pemberitahuan sebelumnya.</p>

                    <h3>Batasan Tanggung Jawab</h3>
                    <ul>
                        <li>Perangkat lunak ini disediakan "apa adanya," dan instansi pemerintah tidak bertanggung jawab
                            atas
                            kerugian atau kerusakan yang timbul dari penggunaan perangkat lunak ini.</li>
                        <li>Instansi pemerintah tidak memberikan jaminan eksplisit atau implisit terkait performa atau
                            keandalan
                            perangkat lunak ini.</li>
                    </ul>

                    <h3>Penutup</h3>
                    <p>Perjanjian ini berlaku sejak Anda mulai menggunakan perangkat lunak ini. Instansi pemerintah
                        berhak untuk
                        mengakhiri perjanjian ini jika Anda melanggar ketentuan yang disebutkan di atas.</p>

                    <p>
                        <em>Terima kasih telah menggunakan perangkat lunak ini.</em>
                    </p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-xmark me-2"></i>Tutup
                </button>
            </div>
        </div>
    </div>
</div>