<div class="modal fade" id="detailAsistensiKotan" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
          Detail Pelaksanaan
          <strong>(No 1)</strong>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="bg-soft-blue">
              <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Jumlah Peserta</th>
                <th>Stakeholder Yang Diasistensi Dalam Rangka Kotan</th>
                <th>Deskripsi Hasil</th>
                <th>Kendala/Hambatan</th>
                <th>Kesimpulan</th>
                <th>Tindak Lanjut</th>
                <th>Dokumentasi</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td>1</td>
                <td>28 Agustus s/d 29 September 2022</td>
                <td>1</td>
                <td>Contoh Stakeholder</td>
                <td>Contoh Deskripsi Hasil</td>
                <td>Contoh Kendala/Hambatan</td>
                <td>Contoh Kesimpulan</td>
                <td>Contoh Tindak Lanjut</td>
                <td>
                  <a href="javascript:void(0);">Lihat Dokumentasi</a>
                </td>
                <td>
                  <div class="list-button">
                    <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#editDataKegiatan" class="badge bg-success text-white text-decoration-none mb-1"><i class="fas fa-pen-to-square me-2"></i>EDIT</a>
                    <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1 deleteKegiatan"><i class="fas fa-trash-alt me-2"></i>HAPUS</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fas fa-xmark me-2"></i>
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>
