<div class="modal fade" id="downloadpersatkerModal" aria-labelledby="modalTambah" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTambah">Tambah Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" id="formPersatker">
                <div class="modal-body">
                    <section>
            
                        <label for="download_persatker" class="col-form-label required">satker :</label>
                        <div class="input-group mb-3">
                            <select class="form-select pilih_satker" id="download_persatker_satker">
                                <option selected disabled>Pilih satker</option>
                            </select>
                        </div>
            
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-xmark me-2"></i>Tutup</button>
                    <button type="submit" class="btn btn-primary" id="button_download_persatker">
                        <i class="fa-solid fa-eye"></i>Lihat</button>
                </div>
            </form>
        </div>
    </div>
</div>