<div class="modal fade" id="editDataSurveiModal" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEdit">
                    Edit Data - <b><span id="headline-edit-data-modal-tanggal"></span></b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" id="formEdit" onsubmit="updateDataSurvei(event);">

                <div class="modal-body">
                    <section>
                        <!-- pilih satker -->
                        <label for="jumlah_responden" class="col-form-label required">Pilih Satuan Kerja:</label>
                        <div class="input-group mb-3">
                            <select id="edit_satker" class="select2 satker edit form-select" v-model="satker" ref="satker">
                                <option value="" selected disabled>Pilih Satuan Kerja</option>
                                {% for satker_item in daftar_satker %}
                                    <option value="{{ satker_item.id }}" :selected="'{{ satker_item }}' == satker">{{ satker_item }}</option>
                                {% endfor %}>
                            </select>
                            {% if user.profile.satker is None %}
                                <small class="text-danger">Tolong pilih satuan kerja anda</small>
                            {% endif %}
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <div>
                                    <label for="tanggal_awal_survei" class="col-form-label required">Tanggal Awal:</label>
                                    <input type="date" id="tanggal_awal_survei" class="form-control" value="" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div>
                                    <label for="tanggal_akhir_survei" class="col-form-label">Tanggal Akhir:</label>
                                    <input type="date" id="tanggal_akhir_survei" class="form-control" value="" />
                                </div>
                            </div>

                            <span class="text-muted mt-2">Jika waktu hanya sehari, maka <b>Tanggal Akhir</b> tidak perlu diisi</span>
                        </div>

                        <div class="row mb-3">
                            <label for="waktu_berlaku" class="col-form-label required">Waktu Berlakunya Survei:</label>
                            <div class="col-6">
                                <input type="time" name="waktu_berlaku_awal" class="form-control"
                                    id="waktu_berlaku_awal" value="08:00" step="1" />
                            </div>
                            <div class="col-6">
                                <input type="time" name="waktu_berlaku_akhir" class="form-control"
                                    id="waktu_berlaku_akhir" value="11:30" step="1" />
                            </div>
                        </div>
                        <div class="mb-3">
                        </div>

                        <label for="jumlah_responden" class="col-form-label required">Batas Responden:</label>
                        <div class="input-group mb-3">
                            <input class="form-control input-maxlength" type="text" value="33" id="batas_responden"
                                maxlength="3" />
                            <span class="input-group-text" id="responden-orang">orang</span>
                        </div>

                        <span class="text-muted mt-3">Memperbarui data tidak akan mengubah kode survei saat ini.</span>

                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-xmark me-2"></i>Tutup</button>
                    <button type="submit" class="btn btn-primary" id="saveEditButton">
                        <i class="fas fa-save me-2"></i>
                        Simpan</button>
                </div>

            </form>
        </div>
    </div>
</div>