<table class="table table-bordered" id="__table">
    <thead class="bg-soft-green">
        <tr>
            <th>No.</th>
            <th>Tanggal Survei</th>
            <th>Waktu Berlakunya Survei</th>
            <th class="text-center">Status</th>
            <th class="text-center">Jumlah Responden</th>
            <th class="bg-soft-danger">Daftar Responden</th>
            <th>
                AKSI<i class="fas fa-edit ms-2"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="align-td-middle">
            <td scope="row">1</td>
            <td>20 Maret 2024</td>
            <td>08.00 - 11.30</td>
            <td class="text-center">
                <a href="javascript:;" class="badge rounded-pill bg-secondary text-white">Belum dibuka</a>
            </td>
            <td class="text-center">20 orang</td>
            <td>
                <a href="javascript:;" class="badge rounded bg-secondary text-white" data-bs-toggle="modal" data-bs-target="#detailDaftarRespondenModal">
                    <i class="fas fa-eye me-2"></i>
                    Lihat daftar responden
                </a>
            </td>
            <td class="__action_button">
                <div class="list-button gx-3 text-uppercase">
                    <div>
                        <a href="javascript:;" class="badge bg-secondary text-white text-decoration-none mb-1"><i
                                class="fas fa-plane me-2"></i>Kirim Hasil</a>
                    </div>
                    <div>
                        <a href="javascript:;"
                            class="badge bg-warning cetak-link text-white text-decoration-none mb-1"><i
                                class="fas fa-print me-2"></i>Cetak Link</a>
                    </div>
                    <div>
                        <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#editData" class="badge bg-success text-white text-decoration-none mb-1"><i
                                class="fas fa-pen-to-square me-2"></i>Edit</a>
                    </div>
                    <div>
                        <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1 delete-data"><i
                                class="fas fa-trash-alt me-2"></i>Hapus</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="align-td-middle">
            <td scope="row">2</td>
            <td>31 Desember 2023</td>
            <td>08.00 - 11.30</td>
            <td class="text-center">
                <a href="javascript:;" class="badge rounded-pill bg-primary text-white">Berlangsung</a>
            </td>
            <td class="text-center">33 orang</td>
            <td>
                <a href="javascript:;" class="badge rounded bg-primary text-white" data-bs-toggle="modal" data-bs-target="#detailDaftarRespondenModal">
                    <i class="fas fa-eye me-2"></i>
                    Lihat daftar responden
                </a>
            </td>
            <td class="__action_button">
                <div class="list-button gx-3 text-uppercase">
                    <div>
                        <a href="javascript:;" class="badge bg-primary text-white text-decoration-none mb-1"><i
                                class="fas fa-plane me-2"></i>Kirim Hasil</a>
                    </div>
                    <div>
                        <a href="javascript:;"
                            class="badge bg-warning cetak-link text-white text-decoration-none mb-1"><i
                                class="fas fa-print me-2"></i>Cetak Link</a>
                    </div>
                    <div>
                        <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#editData" class="badge bg-success text-white text-decoration-none mb-1"><i
                                class="fas fa-pen-to-square me-2"></i>Edit</a>
                    </div>
                    <div>
                        <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1 delete-data"><i
                                class="fas fa-trash-alt me-2"></i>Hapus</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="align-td-middle">
            <td scope="row">3</td>
            <td>30 November 2023</td>
            <td>09.00 - 10.30</td>
            <td class="text-center">
                <a href="javascript:;" class="badge rounded-pill bg-danger text-white">Berakhir</a>
            </td>
            <td class="text-center">18 orang</td>
            <td>
                <a href="javascript:;" class="badge rounded bg-primary text-white" data-bs-toggle="modal" data-bs-target="#detailDaftarRespondenModal">
                    <i class="fas fa-eye me-2"></i>
                    Lihat daftar responden
                </a>
            </td>
            <td class="__action_button">
                <div class="list-button gx-3 text-uppercase">
                    <div>
                        <a href="javascript:;" class="badge bg-already-sended text-white text-decoration-none mb-1"><i
                                class="fas fa-plane me-2"></i>Kirim Hasil</a>
                    </div>
                    <div>
                        <a href="javascript:;" class="badge bg-warning text-white text-decoration-none mb-1"><i
                                class="fas fa-print me-2"></i>Cetak Hasil</a>
                    </div>
                    <div>
                        <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#editData" class="badge bg-success text-white text-decoration-none mb-1"><i
                                class="fas fa-pen-to-square me-2"></i>Edit</a>
                    </div>
                    <div>
                        <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1 delete-data"><i
                                class="fas fa-trash-alt me-2"></i>Hapus</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="align-td-middle">
            <td scope="row">4</td>
            <td>31 Oktober 2023</td>
            <td>08.00 - 11.30</td>
            <td class="text-center">
                <a href="javascript:;" class="badge rounded-pill bg-danger text-white">Berakhir</a>
            </td>
            <td class="text-center">33 orang</td>
            <td>
                <a href="javascript:;" class="badge rounded bg-primary text-white" data-bs-toggle="modal" data-bs-target="#detailDaftarRespondenModal">
                    <i class="fas fa-eye me-2"></i>
                    Lihat daftar responden
                </a>
            </td>
            <td class="__action_button">
                <div class="list-button gx-3 text-uppercase">
                    <div>
                        <a href="javascript:;" class="badge bg-already-sended text-white text-decoration-none mb-1"><i
                                class="fas fa-plane me-2"></i>Kirim Hasil</a>
                    </div>
                    <div>
                        <a href="javascript:;" class="badge bg-warning text-white text-decoration-none mb-1"><i
                                class="fas fa-print me-2"></i>Cetak Hasil</a>
                    </div>
                    <div>
                        <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#editData" class="badge bg-success text-white text-decoration-none mb-1"><i
                                class="fas fa-pen-to-square me-2"></i>Edit</a>
                    </div>
                    <div>
                        <a href="javascript:;" class="badge bg-danger text-white text-decoration-none mb-1 delete-data"><i
                                class="fas fa-trash-alt me-2"></i>Hapus</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>