<table id="__table" class="table table-bordered">
    <thead class="bg-soft-blue">
        <tr>
            <th class="bg-soft-primary text-center"><i class="fas fa-arrow-down"></i></th>
            <th class="bg-soft-success">Satuan Kerja Pelaksana</th>
            <th class="bg-soft-success">Jumlah Kegiatan</th>
            <th class="bg-soft-success" style="max-width: 150px">Aksi <i class="fas fa-edit ms-2"></i></th>
        </tr>
    </thead>
	<tbody class="align-tr-middle">
	</tbody>
</table>

{% comment %} <table id="__table" class="table table-bordered">
    <thead class="bg-soft-blue">
        <tr>
            <th class="bg-soft-success">No</th>
            <th class="bg-soft-success">Satker Pelaksana</th>
            <th class="bg-soft-success">Tanggal</th>
            <th class="bg-soft-success" style="max-width: 300px">Lokasi</th>
            <th class="bg-soft-success">Deskripsi Hasil</th>
            <th class="bg-soft-success">Hambatan/Kendala</th>
            <th class="bg-soft-success">Kesimpulan</th>
            <th class="bg-soft-success">Tindak Lanjut</th>
            <th class="bg-soft-success">Dokumentasi</th>
            <th class="bg-soft-success">Aksi <i class="fas fa-edit ms-2"></i></th>
        </tr>
    </thead>
    <tbody class="align-tr-middle">
    </tbody>
</table> {% endcomment %}