{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}

{% block css_tambahan %}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<link rel="stylesheet" href="{% static 'assets/plugins/leaflet/leaflet-search/leaflet-search.min.css' %}" />
{% comment %}
<link rel="stylesheet" href="{% static 'assets/plugins/leaflet/leaflet-search/leaflet-search.src.css' %}" />
{%endcomment %}
<link rel="stylesheet" href="{% static 'assets/plugins/leaflet/leaflet-search/leaflet-search.mobile.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/plugins/leaflet/leaflet-coordinates/leaflet-coordinates.css' %}" />

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<!-- Leaflet plugins -->
<script src="{% static 'assets/plugins/leaflet/leaflet-html-overlay.js' %}"></script>
<script src="{% static 'assets/plugins/leaflet/leaflet.time.js' %}"></script>
<script src="{% static 'assets/plugins/leaflet/spin.js' %}"></script>
<script src="{% static 'assets/plugins/leaflet/leaflet.spin.js' %}"></script>
<script src="{% static 'assets/plugins/leaflet/leaflet-search/leaflet-search.min.js' %}"></script>
<script src="{% static 'assets/plugins/leaflet/leaflet-coordinates/leaflet-coordinates.js' %}"></script>

<!-- JsPDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js">
</script>

<!-- HTML2Canvas -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js">
</script>

<!-- Bootstrap Select -->
<link rel="stylesheet" href="{% static 'assets/dashboard/vendor/libs/bootstrap-select/bootstrap-select.css' %}">
<!-- /Bootstrap Select -->

<style>
    .card ul li {
        border-bottom: 2px solid #f0f0f0;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        cursor: pointer;
    }
</style>
{% endblock css_tambahan %}

{% block content %}
<div class="breadcrumb">
    <div class="row">
        <h3 class="heading mb-2">Beranda</h3>
    </div>
</div>

{% include 'dashboard/psm/psm_pelaporan_kegiatan.html' %}
{% include 'dashboard/psm/psm_pelaporan_survei.html' %}
{% endblock %}

{% block js_tambahan %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'assets/dashboard/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>


<script>
    /* Global variables */
    const monthNames = [
        'Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni',
        'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'
    ];

    const currentYear = new Date().getFullYear();
    const currentMonth = new Date().getMonth();
    const currentMonthLabel = monthNames[currentMonth];

    /* Generate PDF */
    const generatePDF = (target) => {
        const { jsPDF } = window.jspdf;

        const doc = new jsPDF('l', 'mm', [1500, 1400]);
        const pdfjs = document.querySelector(`#${target}`);

        doc.html(pdfjs, {
            callback: function (doc) {
                doc.save(`${target}.pdf`);
            },
            x: 12,
            y: 12
        });
    };
</script>

<!-- kegiatan -->
<script>
    let responseKegiatanData = null;

    const handleFilterKegiatanMonthCard = (month) => {
        const dataLabel = {
            rakernis: null,
            binaan_teknis: null,
            rakor_pemetaan: null,
            audiensi: null,
            konsolidasi_kebijakan: null,
            workshop_penggiat: null,
            bimtek_p4gn: null,
            sinkronasi_kebijakan: null,
            workshop_tematik: null,
            asistensi: null,
            tes_urine_deteksi_dini: null,
            monev_supervisi_kegiatan_kotan: null,
            pengumpulan_data_ikotan: null,
            dukungan_data_stakeholder: null,
            kegiatan_lainnya: null,
        };

        const monthLabel = $('#filter_kegiatan_kartu_bulan option:selected').text();

        // Set currentMonthLabel to DOM
        $('#kegiatan_info_currentmonth').text(monthLabel);
        $('#kegiatan_info_currentyeaer').text(currentYear);

        // Set data this month
        Object.keys(dataLabel).forEach(key => {
            $(`.${key} .user-progress h6`).text(responseKegiatanData[key][currentYear][month]);
        });
    };

    const getKegiatanCountData = async () => {
        const response = await axios.get('/kegiatan/api/v1/psm/kegiatan_count/');

        responseKegiatanData = response.data.data;

        console.log('response:', responseKegiatanData);

        /**
         * Get sliced data according to currentMonth
         * @params data
         */
        const getSlicedData = (data) => {
            return data.slice(0, currentMonth + 1)
        }

        // Datasets from API Preparation
        const data = {
            rakernis: null,
            binaan_teknis: null,
            rakor_pemetaan: null,
            audiensi: null,
            konsolidasi_kebijakan: null,
            workshop_penggiat: null,
            bimtek_p4gn: null,
            sinkronasi_kebijakan: null,
            workshop_tematik: null,
            asistensi: null,
            tes_urine_deteksi_dini: null,
            monev_supervisi_kegiatan_kotan: null,
            pengumpulan_data_ikotan: null,
            dukungan_data_stakeholder: null,
            kegiatan_lainnya: null,
        };

        $('#filter_kegiatan_kartu_bulan').selectpicker('val', `${currentMonth + 1}`);
        var monthLabel = $('#filter_kegiatan_kartu_bulan option:selected').text();
        $('#kegiatan_info_currentmonth').text(monthLabel);
        console.log("Selected month text: " + monthLabel);
        handleFilterKegiatanMonthCard(currentMonth + 1);
        // Fill data
        Object.keys(data).forEach(key => {
            data[key] = getSlicedData(Object.keys(responseKegiatanData[key][currentYear])
                .filter(month => month !== 'total')
                .map(month => responseKegiatanData[key][currentYear][month]));
        });
        return data;
    }

    $(async () => {
        const kegiatanLineChartCTX = document.getElementById('kegiatanLineChart').getContext('2d');
        const labels = monthNames.slice(0, currentMonth + 1);
        const data = await getKegiatanCountData(currentMonth + 1);

        const colors = [
            { borderColor: 'rgba(255, 99, 132, 1)', backgroundColor: 'rgba(255, 99, 132, 0.2)' },
            { borderColor: 'rgba(54, 162, 235, 1)', backgroundColor: 'rgba(54, 162, 235, 0.2)' },
            { borderColor: 'rgba(255, 206, 86, 1)', backgroundColor: 'rgba(255, 206, 86, 0.2)' },
            { borderColor: 'rgba(75, 192, 192, 1)', backgroundColor: 'rgba(75, 192, 192, 0.2)' },
            { borderColor: 'rgba(153, 102, 255, 1)', backgroundColor: 'rgba(153, 102, 255, 0.2)' },
            { borderColor: 'rgba(255, 159, 64, 1)', backgroundColor: 'rgba(255, 159, 64, 0.2)' },
            { borderColor: 'rgba(199, 199, 199, 1)', backgroundColor: 'rgba(199, 199, 199, 0.2)' },
            { borderColor: 'rgba(255, 99, 71, 1)', backgroundColor: 'rgba(255, 99, 71, 0.2)' },
            { borderColor: 'rgba(60, 179, 113, 1)', backgroundColor: 'rgba(60, 179, 113, 0.2)' },
            { borderColor: 'rgba(123, 104, 238, 1)', backgroundColor: 'rgba(123, 104, 238, 0.2)' },
            { borderColor: 'rgba(70, 130, 180, 1)', backgroundColor: 'rgba(70, 130, 180, 0.2)' },
            { borderColor: 'rgba(240, 128, 128, 1)', backgroundColor: 'rgba(240, 128, 128, 0.2)' },
            { borderColor: 'rgba(255, 215, 0, 1)', backgroundColor: 'rgba(255, 215, 0, 0.2)' },
            { borderColor: 'rgba(0, 191, 255, 1)', backgroundColor: 'rgba(0, 191, 255, 0.2)' },
            { borderColor: 'rgba(219, 112, 147, 1)', backgroundColor: 'rgba(219, 112, 147, 0.2)' }
        ];

        const datasets = Object.keys(data).map((key, index) => {
            return {
                label: key.replace(/_/g, ' ').replace(/\b\w/g, char => char.toUpperCase()),
                data: data[key],
                borderColor: colors[index % colors.length].borderColor,
                backgroundColor: colors[index % colors.length].backgroundColor,
                fill: false
            };
        });

        // Calculate accumulated dataset
        const accumulatedData = datasets[0].data.map((_, i) => {
            return datasets.reduce((acc, dataset) => acc + dataset.data[i], 0);
        });

        const accumulatedDataset = {
            label: "Data Akumulasi Pelaporan Kegiatan",
            data: accumulatedData,
            backgroundColor: "#e8e6ff",
            borderColor: "#7367F0",
            fill: false,
        };

        const kegiatanLineChart = new Chart(kegiatanLineChartCTX, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [...datasets]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        onClick: function (e, legendItem) {
                            const index = legendItem.datasetIndex;
                            const ci = this.chart;
                            const meta = ci.getDatasetMeta(index);

                            // Toggle the visibility
                            meta.hidden = meta.hidden === null ? !ci.data.datasets[index].hidden : null;
                            ci.update();
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        $('#toggleSemuaKegiatan').click(function () {
            const ci = kegiatanLineChart;
            if (ci.data.datasets.length === datasets.length) {
                ci.data.datasets = [accumulatedDataset];
            } else {
                ci.data.datasets = [...datasets];
            }
            ci.update();
        })
    })
</script>
<!-- /kegiatan -->

<!-- survei -->
<script>
    let responseSurveiData = null;
    const handleFilterSurveiMonthCard = (month) => {
        const dataLabel = {
            formulir_elektronik: null,
            skm_tes_urine: null,
        };

        const monthLabel = $('#filter_survei_kartu_bulan option:selected').text();

        // Set currentMonthLabel to DOM
        $('#survei_info_currentmonth').text(monthLabel);

        // Set data this month
        Object.keys(dataLabel).forEach(key => {
            $(`.${key} .user-progress h6`).text(responseSurveiData[key]['2024'][month]);
        });
    };

    const getSurveiCountData = async () => {
        const response = await axios.get('/kegiatan/api/v1/psm/survei_count/');

        responseSurveiData = response.data.data;

        console.log('response:', responseSurveiData);

        /**
         * Get sliced data according to currentMonth
         * @params data
         */
        const getSlicedData = (data) => {
            return data.slice(0, currentMonth + 1)
        }

        // Datasets from API Preparation
        const data = {
            formulir_elektronik: null,
            skm_tes_urine: null,
        };

        $('#filter_survei_kartu_bulan').selectpicker('val', `${currentMonth + 1}`);
        var monthLabel = $('#filter_survei_kartu_bulan option:selected').text();
        $('#survei_info_currentmonth').text(monthLabel);
        console.log("Selected month text: " + monthLabel);
        handleFilterSurveiMonthCard(currentMonth + 1);
        // Fill data
        Object.keys(data).forEach(key => {
            data[key] = getSlicedData(Object.keys(responseSurveiData[key][currentYear])
                .filter(month => month !== 'total')
                .map(month => responseSurveiData[key][currentYear][month]));
        });
        return data;
    }

    $(async () => {
        const surveiLineChartCTX = document.getElementById('surveiLineChart').getContext('2d');
        const labels = monthNames.slice(0, currentMonth + 1);
        const data = await getSurveiCountData(currentMonth + 1);


        const colors = [
            { borderColor: 'rgba(255, 99, 132, 1)', backgroundColor: 'rgba(255, 99, 132, 0.2)' },
            { borderColor: 'rgba(54, 162, 235, 1)', backgroundColor: 'rgba(54, 162, 235, 0.2)' },
        ];

        const datasets = Object.keys(data).map((key, index) => {
            return {
                label: key.replace(/_/g, ' ').replace(/\b\w/g, char => char.toUpperCase()),
                data: data[key],
                borderColor: colors[index % colors.length].borderColor,
                backgroundColor: colors[index % colors.length].backgroundColor,
                fill: false
            };
        });

        // Calculate accumulated dataset
        const accumulatedData = datasets[0].data.map((_, i) => {
            return datasets.reduce((acc, dataset) => acc + dataset.data[i], 0);
        });

        const accumulatedDataset = {
            label: "Data Akumulasi Survei",
            data: accumulatedData,
            backgroundColor: "#e8e6ff",
            borderColor: "#7367F0",
            fill: false,
        };

        const surveiLineChart = new Chart(surveiLineChartCTX, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [...datasets]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        onClick: function (e, legendItem) {
                            const index = legendItem.datasetIndex;
                            const ci = this.chart;
                            const meta = ci.getDatasetMeta(index);

                            // Toggle the visibility
                            meta.hidden = meta.hidden === null ? !ci.data.datasets[index].hidden : null;
                            ci.update();
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        $('#toggleSemuaSurvei').click(function () {
            const ci = surveiLineChart;
            if (ci.data.datasets.length === datasets.length) {
                ci.data.datasets = [accumulatedDataset];
            } else {
                ci.data.datasets = [...datasets];
            }
            ci.update();
        })
    })
</script>
<!-- survei -->
{% endblock %}