<table class="table table-bordered" id="__table">
  <thead class="bg-soft-green">
    <tr>
      <th>No.</th>
      <th>kolom 1</th>
      <th>kolom 2</th>
      <th>kolom 3</th>
      <th>kolom 4</th>
      <th>kolom 5</th>
    </tr>
  </thead>
  <tbody>
    <tr class="">
      <td scope="row">1</td>
      <td>contoh baris 1</td>
      <td>contoh baris 2</td>
      <td>contoh baris 3</td>
      <td>contoh baris 4</td>
      <td>contoh baris 5</td>
    </tr>
  </tbody>
</table>
