#auth {
    margin-top: 90px;
    margin-bottom: 50px;
}

input::placeholder {
    color: rgb(165, 165, 165) !important;
}

#auth h1,
#auth h2,
#auth h3,
#auth h4,
#auth h5,
#auth h6,
#auth .form-label {
    color: #03b3be;
}

#auth span,
#auth a {
    color: #03b3be !important;
}

.login-img {
    width: 450px;
}

.card.auth-card {
    background-color: #f1f1f1 !important;
    border: 0;
    color: #b7b7b7;
}

.btn-auth {
    background-color: #03b3be !important;
    color: #f4f4f4 !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.btn-auth:active {
    background-color: #007c85 !important;
    color: #f4f4f4 !important;
}

.btn-auth:hover {
    background-color: #007c85 !important;
    color: #f4f4f4 !important;
}

a#reset-btn.btn.btn-auth.my-3.d-block.w-100.text-white.text-decoration-none {
    color: white !important;
}
