<div class="modal fade" id="detailPelaksanaanModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">Detail Pelaksanaan
            <strong>(No 1)</strong>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="bg-soft-blue">
                <tr>
                  <th>No</th>
                  <th>Tanggal</th>
                  <th>Lokasi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>1</td>
                    <td>19/01/2024</td>
                    <td>Kota Bandung</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>20/01/2024</td>
                    <td>Kota Cimahi</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="fas fa-xmark me-2"></i>
            Tutup
          </button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">
            <i class="fas fa-file-export me-2"></i>
            Ekspor Data
          </button>
        </div>
      </div>
    </div>
  </div>
  