<div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportModalLabel">Unit Pelayanan Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="unitPelayananForm">
                <div class="modal-body">
                        <div class="mb-3">
                            <label for="unitPelayanan" class="form-label required">Judul</label>
                            <input type="text" class="form-control" id="unitPelayanan" name="unitPelayanan" required>
                        </div>
                        <div class="mb-3">
                            <label for="alamat" class="form-label required">Alamat</label>
                            <input type="text" class="form-control" id="alamat" name="alamat" required>
                        </div>
                        <div class="mb-3">
                            <label for="kesimpulan" class="form-label required">Kesimpulan</label>
                            <textarea class="form-control" id="kesimpulan" id="kesimpulan" rows="3" required></textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="saveUnitPelayanan">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>